<template>
    <div class="container">
        <div>
  <b-carousel
    id="carousel-fade"
    style="text-shadow: 3px 2px 2px #000"
    fade
    indicators
    img-width="500"
    img-height="auto"
  >
    <b-carousel-slide
      caption="Abre una convocatoria"
      img-src="https://blog.computrabajo.com.pe/empresa/wp-content/uploads/2021/09/grado-adecuacion-sherlock.jpg"
    ></b-carousel-slide>
    <b-carousel-slide
      caption="Busca las mejores características"
      img-src="https://d11cuk1a0j5b57.cloudfront.net/blog/wp-content/uploads/2020/02/fuentes-de-reclutamiento-interno.jpg"
    ></b-carousel-slide>
    <b-carousel-slide
      caption="Encuentra al mejor candidato"
      img-src="https://d11cuk1a0j5b57.cloudfront.net/blog/wp-content/uploads/2018/07/reclutamiento-con-volanteo.jpg"
    ></b-carousel-slide>
  </b-carousel>
</div>

<div>
  <b-card class="image bodyC" img-src="https://media.istockphoto.com/photos/female-using-web-service-to-find-new-work-online-picture-id700287234?b=1&k=20&m=700287234&s=612x612&w=0&h=ExlsyGACTOKM0oEMiv3tD1e80X7HLlGSw05tqzxnH38=" img-alt="Card image" img-right>
      <h2 class="textBC">Comparte vacantes de trabajo</h2>
      <b-card-text class="textBC">
        <b-icon icon="share-fill"></b-icon>
        Recomienda a tus amigos una herramienta intuitiva
      </b-card-text>
      <b-card-text class="textBC">
        <b-icon icon="search"></b-icon>
        Descubre todo lo que necesitas saber sobre cada vacante
      </b-card-text>
      <b-card-text class="textBC">
        <b-icon icon="star"></b-icon>
        Añade a tus favoritos las vacantes que desees
      </b-card-text>
      <b-card-text class="textBC">
        <b-icon icon="building"></b-icon>
        Realiza entrevistas para conocer el dictamen de tus postulaciones
      </b-card-text>
      <b-card-text class="textBC">
        <b-icon icon="eye"></b-icon>
        Mantente al tanto del status de tus postulaciones
      </b-card-text>
      <b-card-text class="textBC">
        <b-icon icon="bag-check"></b-icon>
        Se parte del mejor puesto de trabajo de acuerdo a tus capacidades
      </b-card-text>
    </b-card> 
</div>
    </div>

    
</template>

<script>

export default {
    name: "inicio"    
}

</script>

<!-- Aquí definir los css requeridos -->
<!-- Utilizar el scoped si es que el estilo solo se requiere en este template, sino eliminarlo para aplicarlo a todo el proyecto -->
<style scoped>
    .container{
        margin-top: 5%;
    }
    .cardB{
        margin-top: 2%;
    }
    .titleB{
        color:#F28D35;
    }
    .image{
        width: 10;
        height: 10;
        margin-top: 4%;
    }
    .bodyC{
        background-color: #f28d35a4;
    }
    .textBC{
        color:white;
    }
    
</style>