<template>
    <div>
        <div class="container" id="capa">
            <form @submit.prevent="submit">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" >
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <div class="container">
                                <h1>Inicio de Sesión</h1>
                                <img class="login_img" style="width:85%">
                            </div>
                            <div class="form-label-group">
                                <label for="inputEmail">Usuario</label>
                                <input type="text" id="inputEmail" class="form-control" placeholder="Usuario" required
                                    autofocus v-model="login.username">
                            </div>
                            <div class="form-label-group mt-3">
                                <label for="inputPassword">Contraseña</label>
                                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña"
                                    required v-model="login.password">
                            </div>
                            <div class="custom-control custom-checkbox mb-3 text-center mt-2">
                                <a @click="viewFormToRecoverPassword()">
                                    <label class="viewHand">¿Olvidaste tu contraseña?</label>
                                </a>
                            </div>
                            <button class="btn btn-lg buttonEntrar btn-block text-uppercase" type="submit" 
                                @click="loginAdmin()">Entrar</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</template>

<script>

import UsuarioService from '../../service/UsuarioService';
import CorreoService from '../../service/CorreoService';

export default {
    name: "InicioSesion",
    data(){
        return{
            login:{
                password:"",
                username: ""
            }
        }
    },methods:{
        viewFormToRecoverPassword(){
            this.$swal({
                confirmButtonText: "Recuperar",
                cancelButtonText:"Cancelar",
                width:"450px",
                html:'<h2>Recupera tu contraseña</h2><hr />'+
                '<div class="mb-12">'+
                    '</span><label for="correo">Ingresa tu correo electrónico</label>'+
                    '<input type="text" class="form-control" id="correo" placeholder="Correo">'+
                '</div>',
                showCloseButton: true
            })
            .then((result) => {
                if(result.value) {
                    const passwordToRecover = document.getElementById('correo').value;
                    CorreoService.recoverPassword(passwordToRecover);
                    this.$swal({
                        title: 'Contraseña actualizada',
                        text: 'Tu contraseña se ha enviado a tu correo electrónico',
                        icon: 'success',
                        showConfirmButton:false,
                        timer: 3000
                    });
                }
            });
        },
        loginAdmin(){
            UsuarioService.login(this.login)
            .then((response) => {
                localStorage.setItem('user', JSON.stringify(response.data)); //Almacenamos el token
                this.$router.push("/perfil"); //Si el Login funciona, redireccionamos
                location.reload();
            })
            .catch(() =>{
                this.$swal({
                    title: 'Usuario y/o contraseña incorrectos',
                    text: 'Haz otro intento',
                    icon: 'error',
                    showConfirmButton:false,
                    timer: 3000
                  });
            })
        }
    }
};
</script>


<style scoped>
.viewHand{
  cursor: pointer;
}
.buttonEntrar{
    
    border-radius: 20px;
	border: 1px solid #F28D35;
	background-color: #F28D35;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	transition: transform 80ms ease-in;
}
h1 {
	font-weight: bold;
	margin: 0;
    color:#F28D35;
    align-content: center;
}
</style>