<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <meta name="viewport" content="initial-scale=1, width=device-width">
    <style type="text/css">

        .container {
            display: grid;
            grid-gap: 1rem;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        @media screen and (max-width: 300px) {
            .container {
                grid-template-columns:repeat(1, 1fr); 
                background: #fff;
            }
        }

        @media screen and (min-width: 300px) and (max-width: 576px) {
            .container {
                grid-template-columns:repeat(2, 1fr); 
            }
        }

        @media screen and (min-width: 576px) and (max-width: 992px) {
            .container {
                grid-template-columns:repeat(3, 1fr); 
            }
        }

        @media screen and (min-width: 992px) {
            .container {
                 grid-template-columns:repeat(4, 1fr); 
            }
        }

    </style>
</head>

<body>
    <!-- Aquí va el nav --> 

    <div class="container mt-4">
        <div class="row">    
            <div >
                <div>
                    <div style="float: left;"><h2><span>Favoritos</span></h2></div>
                </div> 
                <div class="container">

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                    <div class="card border-warning mb-3" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h4 class="card-title">Nombre de la vacante</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> 
                                <h5> Descripción aquí...</h5>
                                <h5> Modalidad: Presencial </h5>
                                <h5> Sueldo: pura experiencia </h5>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"></script>    
</body>
<script type="text/javascript">
    
</script>
