<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style type="text/css">
        .required {
            color: red;
            font-size: 18;
            font-weight: bold;
        }

        .btn-sireta {
            background-color: #F28D35;
            border: #F28D35;
            color: white;

        }

        .btn-sireta:hover {
            background-color: #F24405;
            color: white;
        }

        .btn-sireta:focus {
            background-color: #F24405;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">    
            <div class="col-md-8">
                <h2><span>Datos de la Vacante</span></h2>
                <hr />
                <div class="row">
                    <div class="col-md-6 mb-12">
                        <span class="required">* </span><label for="titulo">Título</label>
                        <input type="text" class="form-control" id="titulo" placeholder="Título">
                    </div>
                    <div class="col-md-6 mb-12">
                        <span class="required">* </span><label for="descripcion">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" placeholder="Descripción">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-12">
                        <span class="required">* </span> <label for="modalidad">Modalidad</label>
                        <select type="text" class="form-control" id="modalidad" placeholder="Modalidad">
                            <option>Seleccione</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-12">
                        <span class="required">* </span> <label for="tipo">Tipo</label>
                        <select type="text" class="form-control" id="tipo" placeholder="Tipo">
                            <option>Seleccione</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-12">
                        <span class="required">* </span><label for="birthdate">Fecha inicial</label>
                        <input type="date" class="form-control" id="birthdate" name="trip-start" min="1998-01-01"
                            max="2003-12-31">
                    </div>
                    <div class="col-md-6 mb-12">
                        <span class="required">* </span><label for="birthdate">Fecha final</label>
                        <input type="date" class="form-control" id="birthdate" name="trip-start" min="1998-01-01"
                            max="2003-12-31">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2><span>Beneficios</span></h2>
                <hr />
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Uniforme</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Vacaciones</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Bonos</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Prestamos</label>
                </div>
                <div class="row mt-3">
                    <div class="col-md-8">
                        <label for="otros">Otros:</label>
                        <input type="text" class="form-control" id="otros" placeholder="Escribe">
                    </div>
                    <div class="col-md-4 mt-4">
                        <button type="button" class="btn btn-success" onclick="addBenefit()">Registrar</button>
                    </div>
                    <!-- Iniciar iteración del número de registros en array benefits -->
                    <div class="col-md-12 border border-secondary mt-2" hidden style="margin-left:8px; width: 90%;">
                        <div class="mt-2" style="margin-bottom: 10px;">
                            <!-- Si damos click en el button, mandar la posición de esa lista para que se elimine, restarle 1 -->
                            <button class="btn btn-primary mt-1" onclick="removeBenefit(posicion - 1)">
                                <!-- Obtener el valor del array para asignarlo al span -->
                                <span>---</span>
                                <span class="sr-only"></span>
                            </button>
                        </div>
                    </div>
                    <!-- Termina la iteración del número de registros -->
                </div>
            </div>
            <div class="col-md-8">
                <br>
                <h2><span>Salario</span></h2>
                <hr />
                <div class="row">
                    <div class="col-md-3 mb-12">
                        <span class="required">* </span><label for="salarioMin">Salario minimo</label>
                        <input type="number" class="form-control" id="salarioMin" placeholder="Salario minimo">
                    </div>
                    <div class="col-md-3 mb-12">
                        <span class="required">* </span><label for="salarioMax">Salario máximo</label>
                        <input type="number" class="form-control" id="salarioMax" placeholder="Salario máximo">
                    </div>
                    <div class="col-md-6 mb-12">
                        <span class="required">* </span> <label for="periodicidad">Periodicidad de pago</label>
                        <select type="text" class="form-control" id="periodicidad" placeholder="Seleccione">
                            <option>Seleccione</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 mt-4" style="float: right;">
                    <div class="row">
                        <button class="btn btn-sireta btn-lg btn-block">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script type="text/javascript"></script>    
</body>
<script type="text/javascript">
    var benefits = [];
    function addBenefit(){
        let benfit = document.getElementById('otros').value;
        if (benfit != ""){
            benefits.push(benfit);
            document.getElementById('otros').value = "";
        }
    }
    function removeBenefit(posicion){
        benefits.splice(posicion, 1);
    }
</script>
