<head>
    <link href="./bootstrap.css" rel="stylesheet">
    <style type="text/css">
        .required {
            color: red;
            font-size: 18;
            font-weight: bold;
        }

        .btn-sireta {
            background-color: #F28D35;
            border: #F28D35;
            color: white;

        }

        .btn-sireta:hover {
            background-color: #F24405;
            color: white;
        }

        .btn-sireta:focus {
            background-color: #F24405;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <h2><span>Educación</span></h2>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-md-6 mb-12">

                        <span class="required">* </span><label for="carrera">Carrera</label>
                        <input type="text" class="form-control" id="carrera" placeholder="Carrera">
                    </div>
                    <div class="col-md-6 mb-12">
                        <span class="required">* </span><label for="universidad">Nombre Universidad</label>
                        <input type="text" class="form-control" id="universidad" placeholder="Universidad">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-12">
                        <span class="required">* </span><label for="fechaInicio">Fecha inicial</label>
                        <input type="date" class="form-control" id="fechaInicio" name="trip-start" min="1998-01-01"
                            max="2003-12-31">
                    </div>
                    <div class="col-md-6 mb-12">
                        <span class="required">* </span><label for="fechaFin">Fecha final</label>
                        <input type="date" class="form-control" id="fechaFin" name="trip-start" min="1998-01-01"
                            max="2003-12-31">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <h2><span>Idiomas</span></h2>
                    <hr />

                </div>
                <div class="col-md-6 mb-12">
                    <span class="required">* </span><label for="idioma">Idioma</label>
                    <input type="text" class="form-control" id="idioma" placeholder="Idioma">
                </div>
                <div class="col-md-6 mb-12">
                    <span class="required">* </span> <label for="state">Nivel</label>
                    <select type="text" class="form-control" id="state" placeholder="Seleccione...">
                        <option>Seleccione</option>
                        <option>Básico</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>


                <div class="col-md-4 mt-4">
                    <button type="button" class="btn btn-success" onclick="addBenefit()">Registrar</button>
                </div>


                <!-- Iniciar iteración del número de registros en array benefits -->
                <div class="col-md-12 border border-secondary mt-2" hidden style="margin-left:8px; width: 90%;">
                    <div class="mt-2" style="margin-bottom: 10px;">
                        <!-- Si damos click en el button, mandar la posición de esa lista para que se elimine, restarle 1 -->
                        <button class="btn btn-primary mt-1" onclick="removeBenefit(posicion - 1)">
                            <!-- Obtener el valor del array para asignarlo al span -->
                            <span>---</span>
                            <span class="sr-only"></span>
                        </button>
                    </div>
                </div>
                <!-- Termina la iteración del número de registros -->
            </div>
        </div>

        <div class="col-md-8">
            <br>
            <h2><span>Experiencia laboral</span></h2>
            <hr />
            <div class="row">
                <div class="col-md-12 mb-12">
                    <span class="required">* </span><label for="empresa">Empresa</label>
                    <input type="text" class="form-control" id="empresa" placeholder="Empresa">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-12">
                    <span class="required">* </span><label for="fechaInicio">Fecha inicial</label>
                    <input type="date" class="form-control" id="fechaInicio" name="trip-start" min="1998-01-01"
                        max="2003-12-31">
                </div>
                <div class="col-md-6 mb-12">
                    <span class="required">* </span><label for="fechaFin">Fecha final</label>
                    <input type="date" class="form-control" id="fechaFin" name="trip-start" min="1998-01-01"
                        max="2003-12-31">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <br>
            <h2><span>Certificaciones</span></h2>
            <hr />
            <div class="row">
                <div class="col-md-12 mb-12">
                    <span class="required">* </span><label for="nombreCertificacion">Nombre</label>
                    <input type="text" class="form-control" id="nombreCertificacion" placeholder="Nombre">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-12">
                    <span class="required">* </span><label for="fechaObtenido">Fecha cuando se obtuvo</label>
                    <input type="date" class="form-control" id="fechaObtenido" name="trip-start" min="1998-01-01"
                        max="2003-12-31">
                </div>
                <div class="col-md-6 mb-12">
                    <span class="required">* </span><label for="fechaExpiracion">Fecha de expiración</label>
                    <input type="date" class="form-control" id="fechaExpiracion" name="trip-start" min="1998-01-01">
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <button type="button" class="btn btn-success" onclick="addBenefit()">Registrar</button>
            </div>


            <!-- Iniciar iteración del número de registros en array benefits -->
            <div class="col-md-12 border border-secondary mt-2" hidden style="margin-left:8px; width: 90%;">
                <div class="mt-2" style="margin-bottom: 10px;">
                    <!-- Si damos click en el button, mandar la posición de esa lista para que se elimine, restarle 1 -->
                    <button class="btn btn-primary mt-1" onclick="removeBenefit(posicion - 1)">
                        <!-- Obtener el valor del array para asignarlo al span -->
                        <span>---</span>
                        <span class="sr-only"></span>
                    </button>
                </div>
            </div>
            <!-- Termina la iteración del número de registros -->
            <div class="col-md-12  mb-12">
                <br>
                <h2><span>Habilidades</span></h2>
                <hr />
                <div class="col-md-12 mb-12">
                    <span class="required">* </span><label for="Habilidades">Nombre</label>
                    <input type="text" class="form-control" id="Habilidades" placeholder="Habilidades">
                </div>

                <div class="col-md-4 mt-4">
                    <button type="button" class="btn btn-success" onclick="addBenefit()">Registrar</button>
                </div>


                <!-- Iniciar iteración del número de registros en array benefits -->
                <div class="col-md-12 border border-secondary mt-2" hidden style="margin-left:8px; width: 90%;">
                    <div class="mt-2" style="margin-bottom: 10px;">
                        <!-- Si damos click en el button, mandar la posición de esa lista para que se elimine, restarle 1 -->
                        <button class="btn btn-primary mt-1" onclick="removeBenefit(posicion - 1)">
                            <!-- Obtener el valor del array para asignarlo al span -->
                            <span>---</span>
                            <span class="sr-only"></span>
                        </button>
                    </div>
                </div>
                <!-- Termina la iteración del número de registros -->
                <div class="col-md-12  mb-12">
                    <br>
                    <h2><span>Cursos</span></h2>
                    <hr />
                    <div class="col-md-12 mb-12">
                        <span class="required">* </span><label for="cursos">Nombre</label>
                        <input type="text" class="form-control" id="cursos" placeholder="Nombre">
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-12">
                            <span class="required">* </span><label for="horas">Numero de horas</label>
                            <input type="number" class="form-control" id="horas" placeholder="Horas">
                        </div>
                        <div class="col-md-6 mb-12">
                            <span class="required">* </span><label for="fechaObtenido">Fecha cuando se obtuvo</label>
                            <input type="date" class="form-control" id="fechaObtenido" name="trip-start"
                                min="1998-01-01" max="2003-12-31">
                        </div>
                    </div>
                    <div class="col-md-12 mb-12">
                        <span class="required">* </span><label for="instituto">Nombre instituto</label>
                        <input type="text" class="form-control" id="instituto" placeholder="Nombre">
                    </div>

                    <div class="col-md-4 mt-4">
                        <button type="button" class="btn btn-success" onclick="addBenefit()">Registrar</button>
                    </div>


                    <!-- Iniciar iteración del número de registros en array benefits -->
                    <div class="col-md-12 border border-secondary mt-2" hidden style="margin-left:8px; width: 90%;">
                        <div class="mt-2" style="margin-bottom: 10px;">
                            <!-- Si damos click en el button, mandar la posición de esa lista para que se elimine, restarle 1 -->
                            <button class="btn btn-primary mt-1" onclick="removeBenefit(posicion - 1)">
                                <!-- Obtener el valor del array para asignarlo al span -->
                                <span>---</span>
                                <span class="sr-only"></span>
                            </button>
                        </div>
                    </div>
                    <!-- Termina la iteración del número de registros -->

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-2 mt-4" style="float: right;">
                <div class="row">
                    <button class="btn btn-sireta btn-lg btn-block">Enviar</button>
                </div>
            </div>
        </div>
</div>

   
</div>





    </div>

    </div>
    <script type="text/javascript"></script>
</body>
<script type="text/javascript">
    var benefits = [];
    function addBenefit() {
        let benfit = document.getElementById('otros').value;
        if (benfit != "") {
            benefits.push(benfit);
            document.getElementById('otros').value = "";
        }
    }
    function removeBenefit(posicion) {
        benefits.splice(posicion, 1);
    }
</script>