
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<style type="text/css">
  .required{
    color: red;
    font-size: 18;
    font-weight: bold;
  }
  .btn-sireta{
    background-color: #F28D35;
    border: #F28D35;
    color: white;

  }
  .btn-sireta:hover{
    background-color: #F24405;
    color: white;
  }
  .btn-sireta:focus{
    background-color: #F24405;
    color: white;
  }
</style>
</head>

<body>
  <div class="container mt-5">
    <!-- El titulo cambiará dependiendo del Usuario a registrar -->
    <h2><span>Datos del Reclutador</span></h2>
    <hr />
    <div class="row">
      <div class="col-md-4 mb-3">
        <span class="required">*  </span><label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre">
      </div>
      <div class="col-md-4 mb-3">
        <span class="required">*  </span><label for="firstLastName">Primer apellido</label>
        <input type="text" class="form-control" id="firstLastName" placeholder="Primer apellido">
      </div>
  
      <div class="col-md-4 mb-3">
        <label for="secondLastName">Segundo apellido</label>
        <input type="text" class="form-control" id="secondLastName" placeholder="Segundo apellido">
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-4 mb-3">
        <span class="required">*  </span><label for="birthdate">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="birthdate" name="trip-start" min="1998-01-01" max="2003-12-31">
      </div>
      <div class="col-md-4 mb-3">
        <span class="required">*  </span><label for="username">Correo Electrónico</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="username">@</span>
          </div>
          <input type="text" class="form-control" id="username" placeholder="E-mail">
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <span class="required">*  </span><label for="phoneNumber">Teléfono</label>
        <input type="number" class="form-control" id="phoneNumber" placeholder="Teléfono">
      </div>
    </div>
    <div class="row">
  
      <!--Este campo solo sera para reclutador-->
      <div class="col-md-4 mb-3">
        <span class="required">*  </span><label for="job">Puesto</label>
        <input type="text" class="form-control" id="job" placeholder="Puesto">
      </div>
      <!--Este campo solo  para aplicante-->
      <div class="col-md-4 mb-3">
        <span class="required">*  </span> <label for="state">Ubicación</label>
        <select type="text" class="form-control" id="state" placeholder="Ubicación">
          <option>Seleccione</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <span class="required">*  </span><label for="password" class="col-form">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Contraseña">
      </div>
      <div class="col-md-4 mb-3">
        <span class="required">*  </span><label for="confirmPassword" class="col-form"> Confirmar contraseña</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Contraseña">
      </div>
    </div>
    <!-- Este form es solo para el Reclutador -->
    <div class="mt-4">
      <h2>Datos de la Empresa</h2>
      <hr />
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <span class="required">*  </span><label for="nameCompany">Nombre</label>
        <input type="text" class="form-control" id="nameCompany" placeholder="Nombre" required>
      </div>
      <div class="col-md-4 mb-3">
        <span class="required">*  </span><label for="stateCompany">Ubicación</label>
        <select type="text" class="form-control" id="stateCompany" placeholder="Ubicación" required>
          <option>Seleccione</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
        <label for="logo">Logo</label>
          <input type="file" class="form-control" id="logo">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-sireta">Enviar</button>
      </div>
    </div>
  </div>
</body>