<template>
    <div class="container mt-5">
        <div class="row">    
            <div>
                <div class="row justify-content-between">
                    <h2><span>Mis contactos</span></h2>
                    <button type="button" class="btn btn-info text-end" @click="routeListALL()"> <b-icon icon="person-circle" class="mr-3"></b-icon>
                     Nuevo contacto <img src="../../assets/img/add.png" /></button>
                </div> 
                <div class="container">
                   
                    <div v-for="(contact, index) in contacto" :key="index" >
                        <b-card style="width: 18rem;" border-variant="primary" header=" " header-bg-variant="primary" header-text-variant="white">
                            <b-card-text style="height:15%">
                                <label><b-icon-people-fill></b-icon-people-fill><b> {{contact.person_Friend.name}} {{contact.person_Friend.firstLastName}} {{contact.person_Friend.secondLastName}}</b></label>
                                <br>
                                <label><b-icon-at></b-icon-at> {{contact.person_Friend.username}}</label>
                                <br>
                                <label><b-icon-telephone-fill></b-icon-telephone-fill> {{contact.person_Friend.phoneNumber}}</label>
                                <br>
                                <div style="float: right;">
                                    <button class="btn btn-danger" @click="deleteContact(contact.idContac)">
                                        <b-icon-trash-fill></b-icon-trash-fill> Eliminar
                                    </button>
                                </div>
                            </b-card-text>
                        </b-card>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>

var token_json = "";

if (localStorage.getItem("user") != null) {
  var token = localStorage.getItem("user"); //Variable que almacena el token
  token_json = JSON.parse(atob(token.split(".")[1]))["sub"]; //El token se convierte a JSON y obtenemos el 'sub' (username/email)
}

import ApplicantService from "../../service/ApplicantService";

export default {
  name: "contactos",
  data() {
    return {
      contacto: [],
      username: token_json,
    };
  },
  methods: {
    getContacts() {
      ApplicantService.getContacts(token_json)
        .then((response) => {
            console.log(response.data)
          this.contacto = response.data;
        })
        .catch((e) => {
          console.log("Error: " + e);
        });

      console.info("favs de: " + token_json);
    },
    deleteContact(idContact){
        console.log(idContact);
        ApplicantService.deleteContact(idContact)
        .then(() => {
            this.$swal({
                title: "Eliminación éxitosa",
                text: "El contacto ha sido eliminado",
                icon: 'success',
                showConfirmButton: false,
                timer: 3000
            })
            .then(() => {
                this.$router.go();
            })
        })   
    },
    routeListALL(){
        this.$router.push('/listaContactos')
    }
  },
  mounted() {
    this.getContacts();
  }
};

</script>

<style scoped>

    .container {
        display: grid;
        grid-gap: 1rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    @media screen and (max-width: 300px) {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media screen and (min-width: 300px) and (max-width: 576px) {
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 576px) and (max-width: 992px) {
        .container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 992px) {
        .container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
</style>