<template>
    <div>
        <div class="container-fluid mt-3" v-if="objCurriculum.idCurriculumGeneral == null">
            <div style="display:flex;justify-content: center; align-items: center;">
                <div style="width:450px; padding:25px;" class="border">
                    <h2 class="text-center">Curriculum</h2>
                    <div class="mt-4">
                        <span class="required">* </span><label for="mainTitle">Título breve del curricular</label>
                        <input type="text" v-model="objCurriculum.title" class="form-control" id="mainTitle" placeholder="Ejem. Administrador de base de datos (DBA)">
                    </div>
                    <div class="mt-3" style="display:flex;justify-content: center; align-items: center;">
                        <button type="button" class="btn btn-success" @click="saveCurriculum()">
                             <img src="../../assets/img/add.png" class="logo" role="img"  alt="icon"/> Registrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3" v-else-if="objCurriculum.idCurriculumGeneral != null">
            <div>
                <div class="form-group row">
                    <label for="mainTitle2" class="mt-2">Título breve del curricular</label>
                    <div class="col-sm-4">
                        <input type="text" v-model="objCurriculum.title" class="form-control" id="mainTitle2">
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" @click="updateCurriculum()" class="btn btn-primary">Actualizar</button>
                    </div>
                    <button type="button" class="btn btn-success" style="float:right;" @click="downloadCurriculum()">
                         <b-icon icon="file-person"></b-icon>  Generar CV
                    </button>
                </div>
            </div>
            <hr />
            <div class="row mt-4">
                <div class="col-md-8">
                    <div class="form-row">
                        <div class="col-auto">
                            <button type="button" class="btn btn-success" @click="smtSaveCertification()">
                                <img src="../../assets/img/add.png" />
                            </button>
                        </div>
                        <div class="col-auto">
                            <h3>Certificaciones</h3>
                        </div>
                    </div>
                    <table class="table table-bordered" v-if="listCertification.length != 0">
                        <thead>
                            <tr style="background-color:lightgrey">
                                <th scope="col" class="text-center">Certificación</th>
                                <th scope="col" class="text-center">Fecha de obtención</th>
                                <th scope="col" class="text-center">Fecha de expiración</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-success" v-for="(cer, index) in listCertification" :key="index">
                                <td>{{cer.name}}</td>
                                <td>{{cer.obtainedDate}}</td>
                                <td>{{cer.expirationDate}}</td>
                                <td class="text-center">
                                    <button class="btn btn-danger" style="margin-right:15px" @click="deleteCertification(cer.id)">
                                        <img src="../../assets/img/delete.png" />
                                    </button>
                                    <button class="btn btn-info" @click="updateCertification(cer)">
                                        <img src="../../assets/img/edit.png" />
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-if="listCertification.length == 0" class="mt-3" @click="smtSaveCertification()">
                        <div class="alert alert-dark" role="alert">
                            Registra alguna certificación!
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-auto">
                            <button type="button" class="btn btn-success" @click="smtSaveCourse()">
                                <img src="../../assets/img/add.png" />
                            </button>
                        </div>
                        <div class="col-auto">
                            <h3>Cursos</h3>
                        </div>
                    </div>
                    <table class="table table-bordered" v-if="listCourses.length != 0">
                        <thead>
                            <tr style="background-color:lightgrey">
                                <th scope="col" class="text-center">Nombre</th>
                                <th scope="col" class="text-center">No. horas</th>
                                <th scope="col" class="text-center">Instituto</th>
                                <th scope="col" class="text-center">Fecha de obtención</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-success" v-for="(cour, index) in listCourses" :key="index">
                                <td>{{cour.name}}</td>
                                <td>{{cour.hoursNumber}}</td>
                                <td>{{cour.issuingInstitute}}</td>
                                <td>{{cour.realizationDate}}</td>
                                <td class="text-center">
                                    <button class="btn btn-danger" style="margin-right:15px" @click="deleteCourse(cour.idCourse)">
                                        <img src="../../assets/img/delete.png" />
                                    </button>
                                    <button class="btn btn-info" @click="updateCourse(cour)">
                                        <img src="../../assets/img/edit.png" />
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-if="listCourses.length == 0" class="mt-3" @click="smtSaveCourse()">
                        <div class="alert alert-dark" role="alert">
                            Registra tus cursos!
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="col-auto">
                            <button type="button" class="btn btn-success" @click="smtSaveLanguage()">
                                <img src="../../assets/img/add.png" />
                            </button>
                        </div>
                        <div class="col-auto">
                            <h3>Idiomas</h3>
                        </div>
                    </div>
                    <div v-if="listLanguage.length == 0" class="mt-3" @click="smtSaveLanguage()">
                        <div class="alert alert-dark" role="alert">
                            Registra tus idiomas!
                        </div>
                    </div>
                    <div class="row">
                        <div v-if="listLanguage.length != 0" class="col-md-12 border border-secondary mt-2" style="margin-left:8px; width: 90%;">
                            <div class="mt-2" style="margin-bottom: 10px;">
                                <button class="btn btn-primary mt-1" style="margin-left:4px" v-for="(list, index) in listLanguage" :key="index"
                                    @click="removeLanguage(list.id)">
                                    <span>{{list.name}}</span><span style="color:black">  {{list.level}}</span>
                                    <span class="sr-only"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-auto">
                            <button type="button" class="btn btn-success" @click="smtSaveAbility()">
                                <img src="../../assets/img/add.png" />
                            </button>
                        </div>
                        <div class="col-auto">
                            <h3>Habilidades</h3>
                        </div>
                    </div>
                    <div v-if="listAbilities.length == 0" class="mt-3" @click="smtSaveAbility()">
                        <div class="alert alert-dark" role="alert">
                            Registra alguna de tus habilidades!
                        </div>
                    </div>
                    <div class="row">
                        <div v-if="listAbilities.length != 0" class="col-md-12 border border-secondary mt-2" style="margin-left:8px; width: 90%;">
                            <div class="mt-2" style="margin-bottom: 10px;">
                                <button class="btn btn-primary mt-1" style="margin-left:4px" v-for="(hab, index) in listAbilities" :key="index"
                                    @click="removeAbility(hab.id)">
                                    <span>{{hab.name}}</span>
                                    <span class="sr-only"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row mt-4">
                <div class="col-auto">
                    <button type="button" class="btn btn-success" @click="smtSaveEducation()">
                        <img src="../../assets/img/add.png" />
                    </button>
                </div>
                <div class="col-auto">
                    <h3>Nivel Educativo</h3>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered" v-if="listEducations.length != 0">
                    <thead>
                        <tr style="background-color:lightgrey">
                            <th scope="col" class="text-center">Título</th>
                            <th scope="col" class="text-center">Carrera</th>
                            <th scope="col" class="text-center">Nombre de la Universidad</th>
                            <th scope="col" class="text-center">Periodo</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-success" v-for="(edu, index) in listEducations" :key="index">
                            <td>{{edu.educationalDegree}}</td>
                            <td>{{edu.career}}</td>
                            <td>{{edu.instituteName}}</td>
                            <td>{{edu.initialDate}} a {{edu.finalDate}}</td>
                            <td class="text-center">
                                <button class="btn btn-danger" style="margin-right:15px" @click="deleteEducation(edu.idEducation)">
                                    <img src="../../assets/img/delete.png" />
                                </button>
                                <button class="btn btn-info" @click="updateEducation(edu)">
                                    <img src="../../assets/img/edit.png" />
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="listEducations.length == 0" class="mt-3" @click="smtSaveEducation()">
                <div class="alert alert-dark" role="alert">
                    Registra tu nivel educativo!
                </div>
            </div>
            <div class="col-md-6">
                <div v-if="listExperience.length == 0" class="mt-3" @click="smtSaveExperience()">
                    <div class="alert alert-dark" role="alert">
                        Registra tu experiencia Laboral!
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-row mt-4">
                        <div class="col-auto">
                            <button type="button" class="btn btn-success" @click="smtSaveExperience()">
                                <img src="../../assets/img/add.png" />
                            </button>
                        </div>
                        <div class="col-auto">
                            <h3>Experiencia Laboral</h3>
                        </div>
                    </div>
                    <table class="table table-bordered" v-if="listExperience.length != 0">
                        <thead>
                            <tr style="background-color:lightgrey">
                                <th scope="col" class="text-center">Puesto</th>
                                <th scope="col" class="text-center">Fecha Inicial</th>
                                <th scope="col" class="text-center">Fecha Final</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-success" v-for="(exp, index) in listExperience" :key="index">
                                <td>{{exp.job}}</td>
                                <td>{{exp.initialDate}}</td>
                                <td>{{exp.finalDate}}</td>
                                <td class="text-center">
                                    <button class="btn btn-danger" style="margin-right:10px" @click="deleteExperience(exp.idWorkExperience)">
                                        <img src="../../assets/img/delete.png" />
                                    </button>
                                    <button class="btn btn-info" style="margin-right:10px" @click="updateExperience(exp)">
                                        <img src="../../assets/img/edit.png" />
                                    </button>
                                    <button class="btn btn-dark" @click="viewExperience(exp)">
                                        <img src="../../assets/img/checklist.png" alt="Actividades"/>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5 mt-4" v-if="job.job.length != 0"><!-- Agregar el if para que se muestre solo cuando se selecciona una Experiencia -->
                    <div class="form-row">
                        <div class="col-auto">
                            <button type="button" class="btn btn-success" @click="smtSaveActivities()">
                                <img src="../../assets/img/add.png" />
                            </button>
                        </div>
                        <div class="col-auto">
                            <h3>Actividades Realizadas</h3>
                            <span class="text-center" style="font-size:22px"><b>{{job.job}}</b></span>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12 border border-secondary mt-2" style="margin-left:8px; width: 90%;">
                            <div class="mt-2" style="margin-bottom: 10px;">
                                <button class="btn btn-primary mt-1" style="margin-left:4px" v-for="(act, index) in activitiesToShow" :key="index"
                                    @click="removeActivity(act.idActivity)">
                                    <span>{{act.activity}}</span>
                                    <span class="sr-only"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import CurriculumService from "../../service/CurriculumService";
import ApplicantService from "../../service/ApplicantService";
import LanguageService from "../../service/LanguageService";
import CertificationService from "../../service/CertificationService";
import AbilityService from "../../service/AbilityService";
import CourseService from "../../service/CourseService";
import EducationService from "../../service/EducationService";
import WorkExperienceService from "../../service/WorkExperienceService";
import ActivityService from "../../service/ActivityService";

export default {
    name: "agregarVacante",
    data(){
        return{
                listCourses:[],
                listCertification:[],
                listLanguage:[],
                listAbilities:[],
                listEducations:[],
                listExperience:[],
                objCurriculum:{
                    idCurriculumGeneral:"",
                    title:"",
                    applicants:{}
                },
                objApplicant:{
                    idApplicant:"",
                    state:"",
                    persons:{
                        name:"",
                        firstLastName:"",
                        secondLastName: "",
                        username:"",
                        birthDate:"",
                        phoneNumber:"",
                        enabled: 1,
                        password:"",
                        rol:{
                            id_rol: 2,
                            nombre: "applicant"
                        }
                    }
                },
                objLanguages:{
                    id_language:"",
                    name:"",
                    level:"",
                    curriculum:{}
                },
                objCertifications:{
                    id:"",
                    expirationDate:"",
                    name:"",
                    obtainedDate:"",
                    curriculum:{}
                },
                objAbilities:{
                    id_ability:"",
                    name:"",
                    curriculum:{}
                },
                objCourses:{
                    idCourse:"",
                    hoursNumber:"",
                    issuingInstitute:"",
                    name:"",
                    realizationDate:"",
                    curriculum:{}
                },
                objEducation:{
                    idEducation:"",
                    career:"",
                    educationalDegree:"",
                    finalDate:"",
                    initialDate:"",
                    instituteName:"",
                    curriculum:{}
                },
                objExperience:{
                    idWorkExperience:"",
                    finalDate:"",
                    initialDate:"",
                    job:"",
                    curriculum:{}
                },
                activitiesToShow:[],
                objActivity:{
                    idActivity:"",
                    activity:"",
                    workExperiences:{}
                },
                job:{
                    idWorkExperience:"",
                    finalDate:"",
                    initialDate:"",
                    job:"",
                    curriculum:{}
                }
            }
    },
    methods:{
        removeActivity(id){
            ActivityService.delete(id)
            .then(() => {
                this.viewExperience(this.job);
            })
        },
        smtSaveActivities(){
            this.$swal({
                confirmButtonText: "Registrar",
                cancelButtonText:"Cancelar",
                width:"450px",
                html:'<h2>Registro de Actividades</h2><hr />'+
                '<div class="mb-12">'+
                    '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="activity">Actividad</label>'+
                    '<input type="text" class="form-control" id="activity" placeholder="Actividad">'+
                '</div>',
                showCloseButton: true
            })
            .then((result) => {
                if(result.value) {
                    this.objActivity.activity = document.getElementById('activity').value;
                    this.objActivity.workExperiences = this.job;
                    ActivityService.create(this.objActivity)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.viewExperience(this.job);
                    })
                }
            });
        },
        viewExperience(job){
            this.job = job;
            ActivityService.getActivitiesByWorkExperience(job.idWorkExperience)
            .then((response) =>{
                this.activitiesToShow = response.data;
            })
        },
        updateExperience(index){
            this.$swal({
                confirmButtonText: "Actualizar",
                cancelButtonText:"Cancelar",
                width:"850px",
                html:'<h2>Actualizando Experiencia Laboral</h2><hr />'+
                '<div class="row">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="expJob">Título del puesto</label>'+
                        '<input type="text" class="form-control" id="expJob" placeholder="Puesto">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="expInitialDate">Fecha inicial</label>'+
                        '<input type="date" class="form-control" id="expInitialDate" name="trip-start">'+
                    '</div>'+
                '</div>'+
                '<div class="row mt-3">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="expFinalDate">Fecha final</label>'+
                        '<input type="date" class="form-control" id="expFinalDate" name="trip-start">'+ 
                    '</div>'+
                '</div>',
                showCloseButton: true,
                onOpen:() =>{
                    document.getElementById('expJob').value = index.job;
                    document.getElementById('expInitialDate').value = index.initialDate;
                    document.getElementById('expFinalDate').value = index.finalDate;
                }
            })
            .then((result) => {
                if(result.value) {
                    this.objExperience.idWorkExperience = index.idWorkExperience
                    this.objExperience.finalDate = document.getElementById('expFinalDate').value;
                    this.objExperience.initialDate = document.getElementById('expInitialDate').value;
                    this.objExperience.job = document.getElementById('expJob').value;
                    
                    this.objCurriculum.applicants = this.objApplicant;
                    this.objExperience.curriculum = this.objCurriculum;

                    WorkExperienceService.create(this.objExperience)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.showSuccessAlert("Actualización éxitosa","Tu Experiencia Laboral está actualizada");
                        this.getWorkExperiences();
                    })
                }
            });
        },
        deleteExperience(id){
            this.$swal({
                title: "Eliminación",
                text: "¿Estás seguro de eliminar tu Experiencia Laboral?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No, cancelar',
                showCloseButton: true,
                showLoaderOnConfirm: true
            })
            .then((result) => {
                if(result.value) {
                    WorkExperienceService.delete(id)
                    .then(() => {
                        this.getWorkExperiences();
                    })
                    this.showSuccessAlert("Eliminación éxitosa","Tu Experiencia Laboral se ha eliminado");
                }
            });
        },
        getWorkExperiences(){
            WorkExperienceService.getWorkExperienceByCurriculumId(this.objCurriculum.idCurriculumGeneral)
            .then((response) => {
                this.listExperience = response.data;
            })
        },
        smtSaveExperience(){
            this.$swal({
                confirmButtonText: "Registrar",
                cancelButtonText:"Cancelar",
                width:"850px",
                html:'<h2>Registro de Experiencia Laboral</h2><hr />'+
                '<div class="row">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="expJob">Título del puesto</label>'+
                        '<input type="text" class="form-control" id="expJob" placeholder="Puesto">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="expInitialDate">Fecha inicial</label>'+
                        '<input type="date" class="form-control" id="expInitialDate" name="trip-start">'+
                    '</div>'+
                '</div>'+
                '<div class="row mt-3">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="expFinalDate">Fecha final</label>'+
                        '<input type="date" class="form-control" id="expFinalDate" name="trip-start">'+ 
                    '</div>'+
                '</div>',
                showCloseButton: true
                })
            .then((result) => {
                if(result.value) {
                    this.objExperience.finalDate = document.getElementById('expFinalDate').value;
                    this.objExperience.initialDate = document.getElementById('expInitialDate').value;
                    this.objExperience.job = document.getElementById('expJob').value;
                    this.objCurriculum.applicants = this.objApplicant;
                    this.objExperience.curriculum = this.objCurriculum;
                    WorkExperienceService.create(this.objExperience)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.showSuccessAlert("Registro éxitoso", "Has agregado una Experiencia Laboral!");
                        this.getWorkExperiences();
                    })
                }
            });
        },
        deleteEducation(id){
            this.$swal({
                title: "Eliminación",
                text: "¿Estás seguro de eliminar tu nivel educativo?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No, cancelar',
                showCloseButton: true,
                showLoaderOnConfirm: true
            })
            .then((result) => {
                if(result.value) {
                    EducationService.delete(id)
                    .then(() => {
                        this.getEducation();
                    })
                    this.showSuccessAlert("Eliminación éxitosa","Tu Nivel Educativo se ha eliminado");
                }
            });
        },
        getEducation(){
            EducationService.getEducationsByCurriculumId(this.objCurriculum.idCurriculumGeneral)
            .then((response) => {
                this.listEducations = response.data;
            })
        },
        updateEducation(index){
            this.$swal({
                confirmButtonText: "Actualizar",
                cancelButtonText:"Cancelar",
                width:"850px",
                html:'<h2>Actualizando Nivel Educativo</h2><hr />'+
                '<div class="row">'+
                    '<div class="col-md-12 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="EducationalDegreeUpdate">Título Educativo</label>'+
                        '<input type="text" class="form-control" id="EducationalDegreeUpdate" placeholder="Título Educativo">'+
                    '</div>'+
                '</div>'+
                '<div class="row mt-3">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="carreraUpdate">Carrera</label>'+
                        '<input type="text" class="form-control" id="carreraUpdate" placeholder="Carrera">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="universidadUpdate">Nombre Universidad</label>'+
                        '<input type="text" class="form-control" id="universidadUpdate" placeholder="Universidad">'+
                    '</div>'+
                '</div>'+
                '<div class="row mt-3">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="fechaInicioUpdate">Fecha inicial</label>'+
                        '<input type="date" class="form-control" id="fechaInicioUpdate" name="trip-start">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="fechaFinUpdate">Fecha final</label>'+
                        '<input type="date" class="form-control" id="fechaFinUpdate" name="trip-start">'+ 
                    '</div>'+
                '</div>',
                showCloseButton: true,
                onOpen:() =>{
                    document.getElementById('EducationalDegreeUpdate').value = index.educationalDegree;
                    document.getElementById('carreraUpdate').value = index.career;
                    document.getElementById('universidadUpdate').value = index.instituteName;
                    document.getElementById('fechaInicioUpdate').value = index.initialDate;
                    document.getElementById('fechaFinUpdate').value = index.finalDate;
                }
            })
            .then((result) => {
                if(result.value) {
                    this.objEducation.idEducation = index.idEducation;
                    this.objEducation.educationalDegree = document.getElementById('EducationalDegreeUpdate').value;
                    this.objEducation.career = document.getElementById('carreraUpdate').value;
                    this.objEducation.instituteName = document.getElementById('universidadUpdate').value;
                    this.objEducation.initialDate = document.getElementById('fechaInicioUpdate').value;
                    this.objEducation.finalDate = document.getElementById('fechaFinUpdate').value;
                    
                    this.objCurriculum.applicants = this.objApplicant;
                    this.objEducation.curriculum = this.objCurriculum;

                    EducationService.create(this.objEducation)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.showSuccessAlert("Actualización éxitosa","Tu Nivel Educatico está actualizado");
                        this.getEducation();
                    })
                }
            });
        },
        smtSaveEducation(){
            this.$swal({
                confirmButtonText: "Registrar",
                cancelButtonText:"Cancelar",
                width:"850px",
                html:'<h2>Registro de Nivel Educativo</h2><hr />'+
                '<div class="row">'+
                    '<div class="col-md-12 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="EducationalDegree">Título Educativo</label>'+
                        '<input type="text" class="form-control" id="EducationalDegree" placeholder="Título Educativo">'+
                    '</div>'+
                '</div>'+
                '<div class="row mt-3">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="carrera">Carrera</label>'+
                        '<input type="text" class="form-control" id="carrera" placeholder="Carrera">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="universidad">Nombre de la escuela</label>'+
                        '<input type="text" class="form-control" id="universidad" placeholder="Escuela">'+
                    '</div>'+
                '</div>'+
                '<div class="row mt-3">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="fechaInicio">Fecha inicial</label>'+
                        '<input type="date" class="form-control" id="fechaInicio" name="trip-start">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="fechaFin">Fecha final</label>'+
                        '<input type="date" class="form-control" id="fechaFin" name="trip-start">'+ 
                    '</div>'+
                '</div>',
                showCloseButton: true
                })
            .then((result) => {
                if(result.value) {
                    this.objEducation.educationalDegree = document.getElementById('EducationalDegree').value;
                    this.objEducation.career = document.getElementById('carrera').value;
                    this.objEducation.instituteName = document.getElementById('universidad').value;
                    this.objEducation.initialDate = document.getElementById('fechaInicio').value;
                    this.objEducation.finalDate = document.getElementById('fechaFin').value;

                    this.objCurriculum.applicants = this.objApplicant;
                    this.objEducation.curriculum = this.objCurriculum;
                    EducationService.create(this.objEducation)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.showSuccessAlert("Registro éxitoso", "Has agregado una nueva Educación!");
                        this.getEducation();
                    })
                }
            });
        },
        deleteCourse(id){
            this.$swal({
                title: "Eliminación",
                text: "¿Estás seguro de eliminar tu Curso?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No, cancelar',
                showCloseButton: true,
                showLoaderOnConfirm: true
            })
            .then((result) => {
              if(result.value) {
                CourseService.delete(id)
                .then(() => {
                    this.getCourses();
                })
                this.showSuccessAlert("Eliminación éxitosa","Tu Curso se ha eliminado");
              }
            });
        },
        updateCourse(index){
            this.$swal({
                confirmButtonText: "Actualizar",
                cancelButtonText:"Cancelar",
                width:"850px",
                html:'<h2>Actualizando Curso</h2><hr />'+
                '<div class="row">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="courseNombre">Nombre del Curso</label>'+
                        '<input type="text" class="form-control" id="courseNombre" placeholder="Nombre">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="courseHour">Número de horas</label>'+
                        '<input type="number" class="form-control" id="courseHour" placeholder="Horas">'+
                    '</div>'+
                '</div>'+
                '<div class="row mt-3">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="courseIssuing">Nombre del Instituto</label>'+
                        '<input type="text" class="form-control" id="courseIssuing" placeholder="Nombre">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<label for="courseRealization">Fecha de obtención</label>'+
                        '<input type="date" class="form-control" id="courseRealization" name="trip-start">'+ 
                    '</div>'+
                '</div>',
                showCloseButton: true,
                onOpen:() =>{
                    document.getElementById('courseNombre').value = index.name;
                    document.getElementById('courseHour').value = index.hoursNumber;
                    document.getElementById('courseIssuing').value = index.issuingInstitute;
                    document.getElementById('courseRealization').value = index.realizationDate;
                }
            })
            .then((result) => {
                if(result.value) {
                    this.objCourses.idCourse = index.idCourse
                    this.objCourses.name = document.getElementById('courseNombre').value;
                    this.objCourses.hoursNumber = document.getElementById('courseHour').value;
                    this.objCourses.issuingInstitute = document.getElementById('courseIssuing').value;
                    this.objCourses.realizationDate = document.getElementById('courseRealization').value;                    
                    this.objCurriculum.applicants = this.objApplicant;
                    this.objCourses.curriculum = this.objCurriculum;
                    CourseService.create(this.objCourses)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.showSuccessAlert("Actualización éxitosa","Tus Cursos están actualizados");
                        this.getCourses();
                    })
                }
            });
        },
        smtSaveCourse(){
            this.$swal({
                confirmButtonText: "Registrar",
                cancelButtonText:"Cancelar",
                width:"850px",
                html:'<h2>Registro de Cursos</h2><hr />'+
                '<div class="row">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="courseNombre">Nombre del Curso</label>'+
                        '<input type="text" class="form-control" id="courseNombre" placeholder="Nombre">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="courseHour">Número de horas</label>'+
                        '<input type="number" class="form-control" id="courseHour" placeholder="Horas">'+
                    '</div>'+
                '</div>'+
                '<div class="row mt-3">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="courseIssuing">Nombre del Instituto</label>'+
                        '<input type="text" class="form-control" id="courseIssuing" placeholder="Nombre">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<label for="courseRealization">Fecha de obtención</label>'+
                        '<input type="date" class="form-control" id="courseRealization" name="trip-start">'+ 
                    '</div>'+
                '</div>',
                showCloseButton: true
                })
            .then((result) => {
                if(result.value) {
                    this.objCourses.hoursNumber = document.getElementById('courseHour').value;
                    this.objCourses.name = document.getElementById('courseNombre').value;
                    this.objCourses.issuingInstitute = document.getElementById('courseIssuing').value;
                    this.objCourses.realizationDate = document.getElementById('courseRealization').value;
                    this.objCurriculum.applicants = this.objApplicant;
                    this.objCourses.curriculum = this.objCurriculum;
                    CourseService.create(this.objCourses)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.showSuccessAlert("Registro éxitoso", "Has agregado un nuevo Curso!");
                        this.getCourses();
                    })
                }
            });
        },
        getCourses(){
            CourseService.getCoursesByCurriculumId(this.objCurriculum.idCurriculumGeneral)
            .then((response) => {
                this.listCourses = response.data;
            })
        },
        removeAbility(index){
            AbilityService.delete(index)
            .then(() => {
                this.getAbilities();
            })
        },
        getAbilities(){
            AbilityService.getAbilitiesByCurriculumId(this.objCurriculum.idCurriculumGeneral)
            .then((response) => {
                this.listAbilities = response.data;
            })
        },
        smtSaveAbility(){
            this.$swal({
                confirmButtonText: "Registrar",
                cancelButtonText:"Cancelar",
                width:"450px",
                html:'<h2>Registro de Habilidades</h2><hr />'+
                '<div class="mb-12">'+
                    '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="habilidad">Habilidad</label>'+
                    '<input type="text" class="form-control" id="habilidad" placeholder="Habilidad">'+
                '</div>',
                showCloseButton: true
            })
            .then((result) => {
                if(result.value) {
                    this.objCurriculum.applicants = this.objApplicant;
                    this.objAbilities.name = document.getElementById('habilidad').value;
                    this.objAbilities.curriculum = this.objCurriculum;
                    AbilityService.create(this.objAbilities)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.getAbilities();
                    })
                }
            });
        },
        deleteCertification(id){
            this.$swal({
                title: "Eliminación",
                text: "¿Estás seguro de eliminar tu Certificación?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No, cancelar',
                showCloseButton: true,
                showLoaderOnConfirm: true
            })
            .then((result) => {
              if(result.value) {
                CertificationService.delete(id)
                .then(() => {
                    this.getCertifications();
                })
                this.showSuccessAlert("Eliminación éxitosa","Tu Certificación se ha eliminado");
              }
            });
        },
        updateCertification(index){
            this.$swal({
                confirmButtonText: "Actualizar",
                cancelButtonText:"Cancelar",
                width:"850px",
                html:'<h2>Actualizando Certificado</h2><hr />'+
                '<div class="row">'+
                    '<div class="col-md-12 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="certificationName">Nombre de la certificación</label>'+
                        '<input type="text" class="form-control" id="certificationName" placeholder="Nombre">'+
                    '</div>'+
                '</div>'+
                '<div class="row mt-3">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="certificationObtained">Fecha de obtención</label>'+
                        '<input type="date" class="form-control" id="certificationObtained" name="trip-start">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<label for="certificationExpiration">Fecha de expiración</label>'+
                        '<input type="date" class="form-control" id="certificationExpiration" name="trip-start">'+ 
                    '</div>'+
                '</div>',
                showCloseButton: true,
                onOpen:() =>{
                    document.getElementById('certificationName').value = index.name;
                    document.getElementById('certificationObtained').value = index.obtainedDate;
                    document.getElementById('certificationExpiration').value = index.expirationDate;
                }
            })
            .then((result) => {
                if(result.value) {
                    this.objCertifications.id = index.id
                    this.objCertifications.name = document.getElementById('certificationName').value;
                    this.objCertifications.obtainedDate = document.getElementById('certificationObtained').value;
                    this.objCertifications.expirationDate = document.getElementById('certificationExpiration').value;
                    this.objCurriculum.applicants = this.objApplicant;
                    this.objCertifications.curriculum = this.objCurriculum;
                    CertificationService.create(this.objCertifications)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.showSuccessAlert("Actualización éxitosa","Tus Certificaciones están actualizadas");
                        this.getCertifications();
                    })
                }
            });
        },
        smtSaveCertification(){
            this.$swal({
                confirmButtonText: "Registrar",
                cancelButtonText:"Cancelar",
                width:"850px",
                html:'<h2>Registro de Certificaciones</h2><hr />'+
                '<div class="row">'+
                    '<div class="col-md-12 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="certificationName">Nombre de la certificación</label>'+
                        '<input type="text" class="form-control" id="certificationName" placeholder="Nombre">'+
                    '</div>'+
                '</div>'+
                '<div class="row mt-3">'+
                    '<div class="col-md-6 mb-12">'+
                        '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="certificationObtained">Fecha de obtención</label>'+
                        '<input type="date" class="form-control" id="certificationObtained" name="trip-start">'+
                    '</div>'+
                    '<div class="col-md-6 mb-12">'+
                        '<label for="certificationExpiration">Fecha de expiración</label>'+
                        '<input type="date" class="form-control" id="certificationExpiration" name="trip-start">'+ 
                    '</div>'+
                '</div>',
                showCloseButton: true
                })
            .then((result) => {
                if(result.value) {
                    this.objCertifications.name = document.getElementById('certificationName').value;
                    this.objCertifications.obtainedDate = document.getElementById('certificationObtained').value;
                    this.objCertifications.expirationDate = document.getElementById('certificationExpiration').value;
                    this.objCurriculum.applicants = this.objApplicant;
                    this.objCertifications.curriculum = this.objCurriculum;
                    CertificationService.create(this.objCertifications)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.showSuccessAlert("Registro éxitoso", "Has agregado una nueva Certificación!");
                        this.getCertifications();
                    })
                }
            });
        },
        getCertifications(){
            CertificationService.getCertificationsByCurriculum(this.objCurriculum.idCurriculumGeneral)
            .then((response) => {
                this.listCertification = response.data;
            })
        },
        removeLanguage(id){
            this.$swal({
                title: "Eliminación",
                text: "¿Estás seguro de eliminar tu Idioma?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No, cancelar',
                showCloseButton: true,
                showLoaderOnConfirm: true
            })
            .then((result) => {
              if(result.value) {
                LanguageService.delete(id)
                .then(() => {
                    this.getLanguages();
                })
                this.showSuccessAlert("Eliminación éxitosa","Tu Idioma se ha eliminado");
              }
            });
        },
        smtSaveLanguage(){
            this.$swal({
                confirmButtonText: "Registrar",
                cancelButtonText:"Cancelar",
                width:"450px",
                html:'<h2>Registro de Idiomas</h2><hr />'+
                '<div class="mb-12">'+
                    '<span style = "color: red; font-size: 18; font-weight: bold;">* </span><label for="idioma">Idioma</label>'+
                    '<input type="text" class="form-control" v-model="languages.name" id="idioma" placeholder="Idioma">'+
                '</div>'+
                '<div class="mb-12">'+
                    '<span style = "color: red; font-size: 18; font-weight: bold;">* </span> <label for="languageLevel">Nivel</label>'+
                    '<select type="text" class="form-control" id="languageLevel" placeholder="Seleccione...">'+
                        '<option value="">Seleccione</option>'+
                        '<option value="Básico">Básico</option>'+
                        '<option value="Intermedio">Intermedio</option>'+
                        '<option value="Avanzado">Avanzado</option>'+
                    '</select>'+
                '</div>',
                showCloseButton: true
                })
            .then((result) => {
                if(result.value) {
                    this.objLanguages.name =  document.getElementById('idioma').value;
                    this.objLanguages.level = document.getElementById('languageLevel').value;
                    this.objCurriculum.applicants = this.objApplicant;
                    this.objLanguages.curriculum = this.objCurriculum;
                    LanguageService.create(this.objLanguages)
                    .then((response) => {
                        const mensaje = response.data.message;
                        if(mensaje != "Ok!"){
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                            return;
                        }
                        this.showSuccessAlert("Registro éxitoso", "Has agregado un nuevo Idioma!");
                        this.getLanguages();
                    })
                }
            });
        },
        getLanguages(){
            LanguageService.getCurriculumByPersonId(this.objCurriculum.idCurriculumGeneral)
            .then((response) => {
                this.listLanguage = response.data;
            })
        },
        showErrorAlert(titulo, error){
            this.$swal({
                title: titulo,
                text: error,
                icon: 'error',
                showConfirmButton:false,
                timer: 3000
            });
        },
        showSuccessAlert(titulo, error){
            this.$swal({
                title: titulo,
                text: error,
                icon: 'success',
                showConfirmButton:false,
                timer: 3000
            });
        },
        updateCurriculum(){
            this.objCurriculum.applicants = this.objApplicant;
            CurriculumService.create(this.objCurriculum)
            .then((response) => {
                const mensaje = response.data.message;
                if(mensaje != "Ok!"){
                    var errores = response.data.data.split("--");
                    this.showErrors(errores);
                    return;
                }
                this.showSuccessAlert("Actualización éxitosa", "Ya puedes continuar con tu registro!");
            })
        },
        saveCurriculum(){
            this.objCurriculum.applicants = this.objApplicant;
            CurriculumService.create(this.objCurriculum)
            .then((response) => {
                const mensaje = response.data.message;
                if(mensaje != "Ok!"){
                    var errores = response.data.data.split("--");
                    this.showErrors(errores);
                    return;
                }
                this.objCurriculum = response.data.data;
                this.showSuccessAlert("Registro éxitoso", "Ya puedes continuar con tu registro!");
            })
        },
        getCurriculum(){
            var id_username = JSON.parse(atob(localStorage.getItem('user').split('.')[1]))["jti"];
            CurriculumService.getCurriculumByPersonId(id_username)
            .then((response) => {
                this.objCurriculum.idCurriculumGeneral = response.data.data.idCurriculumGeneral;
                this.objCurriculum.title = response.data.data.title;
                this.objApplicant = response.data.data.applicants;
                if(this.objApplicant == null){
                    this.getApplicant(id_username);
                }else{
                    this.getLanguages();
                    this.getCertifications();
                    this.getAbilities();
                    this.getCourses();
                    this.getEducation();
                    this.getWorkExperiences();
                }
            });
        },
        getApplicant(id_username){
            ApplicantService.getApplicantByIdPerson(id_username)
            .then((response) => {
                this.objApplicant = response.data;
            });
        },
        showErrors(errores){
            var _html = "<ul>"
            for(var i = 0; i != (errores.length - 1); i++){
                _html += "<li>" + errores[i] + "</li>";
            }
            _html += "</ul>";
            this.$swal({
                title:"Favor de corregir:",
                icon: "error",
                showCancelButton: false,
                confirmButtonText: "Aceptar",
                html:_html,
                timer:8000
            });
        },
        downloadCurriculum(){
            var id_username = JSON.parse(atob(localStorage.getItem('user').split('.')[1]))["jti"];
            CurriculumService.downloadPDF(id_username).then((response) => {
                  
             const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', this.objApplicant.persons.name+this.objApplicant.persons.firstLastName+'-CV.pdf');
            document.body.appendChild(link);
            link.click();

            })
        }
    },
    mounted(){
        this.getCurriculum();
    }
}
</script>
<style scoped>
.required {
    color: red;
    font-size: 18;
    font-weight: bold;
}
.btn-sireta {
    background-color: #F28D35;
    border: #F28D35;
    color: white;
}
.btn-sireta:hover {
    background-color: #F24405;
    color: white;
}
.btn-sireta:focus {
    background-color: #F24405;
    color: white;
}
</style>