<template>
    <div class="container mt-4">
        <div class="row">    
            <div >
                <div>
                    <div style="float: left;"><h2><span>Favoritos</span></h2></div>
                </div> 
                <div class="container">

                    <b-card header=" " v-for="(fav, index) in favorito" :key="index" header-text-variant="white" header-bg-variant="warning" footer=" " footer-bg-variant="success" style="width: 18rem;">
                        <div class="card-header text-warning">
                            <h5 class="text-center"><b>{{fav.title}}</b></h5>
                        </div>
                        <div style="margin-top:15px;">
                            <p style="color:black;"><b>| Descripción:</b></p>
                            <p>{{fav.description}}</p>
                            <p><b>| Modalidad:</b> {{fav.modality}}</p>
                            <p><b>| Salario: </b>{{fav.salary.minimum}} - {{fav.salary.maximum}} ({{fav.salary.periodicity}})</p>
                        </div>
                        <div style="float: right; height: 25px; margin-bottom: 5px;">
                            <button class="btn btn-danger" >
                                <b-icon-trash-fill></b-icon-trash-fill> Eliminar
                            </button>
                        </div>
                    </b-card>

                </div>
            </div>
        </div>
    </div>
</template>

<script>

var token_json = "";

if (localStorage.getItem("user") != null) {
  var token = localStorage.getItem("user"); //Variable que almacena el token
  token_json = JSON.parse(atob(token.split(".")[1]))["sub"]; //El token se convierte a JSON y obtenemos el 'sub' (username/email)
}

import ApplicantService from "../../service/ApplicantService";

export default {
  name: "favoritos",
  data() {
    return {
      favorito: [],
      username: token_json,
    };
  },
  methods: {
    getFavoritesVacants(token_json) {
      ApplicantService.getFavoritesVacants(token_json)
        .then((response) => {
          console.log(response.data);
          this.favorito = response.data;
        })
        .catch(e => {
          console.log("Error: " + e);
        });

      console.info("favs de: " + token_json);
    }
  },
  mounted() {
    this.getFavoritesVacants(token_json);
  }
};
</script>


<style scoped>

    .container {
        display: grid;
        grid-gap: 1rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    @media screen and (max-width: 300px) {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media screen and (min-width: 300px) and (max-width: 576px) {
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 576px) and (max-width: 992px) {
        .container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 992px) {
        .container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
</style>