<template>
    <div>
        <h1>Inicio de Sesión</h1>
    </div>
</template>

<script>

export default {
    name: "login"    
}

</script>

<!-- Aquí definir los css requeridos -->
<!-- Utilizar el scoped si es que el estilo solo se requiere en este template, sino eliminarlo para aplicarlo a todo el proyecto -->
<style scoped>
    
</style>