
<template>
    <div>
        <div class="container mt-5">
            <!-- El titulo cambiará dependiendo del Usuario a registrar -->
            <!-- Validar el rol del usuario de la sesion -->
            <!-- id_rol = 1 -> Reclutador -->
            <!-- id_rol = 2 -> Postulante -->
            <div class="row justify-content-between">
                <h2>
                    <b-icon icon="person-circle" class="mr-3"></b-icon>
                    <span v-if="this.rol == 1">Datos del Reclutador</span>
                    <span v-else-if="this.rol == 2">Datos del Postulante</span>
                </h2>
                <b-button class="btn btn-info text-end" v-b-modal.modal-center type="button">
                    <img src="../../assets/img/edit.png" class="logo" role="img"  alt="icon"/> Cambiar Contraseña
                </b-button>
            </div>
            <hr />
            <input type="hidden" id="id" name="id" value="">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="name">Nombre</label>
                    <input v-if="this.rol == 1" type="text" class="form-control" id="name" placeholder="Nombre" v-model="recruiter.person.name">
                    <input v-else-if="this.rol == 2" type="text" class="form-control" id="name" placeholder="Nombre" v-model="applicant.persons.name">
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="firstLastName">Primer apellido</label>
                    <input v-if="this.rol == 1" type="text" class="form-control" id="firstLastName" placeholder="Primer apellido" v-model="recruiter.person.firstLastName">
                    <input v-else-if="this.rol == 2" type="text" class="form-control" id="firstLastName" placeholder="Primer apellido" v-model="applicant.persons.firstLastName">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="secondLastName">Segundo apellido</label>
                    <input v-if="this.rol == 1"  type="text" class="form-control" id="secondLastName" placeholder="Segundo apellido" v-model="recruiter.person.secondLastName">
                    <input v-else-if="this.rol == 2" type="text" class="form-control" id="firstLastName" placeholder="Primer apellido" v-model="applicant.persons.secondLastName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="birthdate">Fecha de nacimiento</label>
                    <input v-if="this.rol == 1" type="date" class="form-control" id="birthdate" name="trip-start" min="1998-01-01" max="2003-12-31" v-model="recruiter.person.birthDate">
                    <input v-else-if="this.rol == 2" type="date" class="form-control" id="birthdate" name="trip-start" min="1998-01-01" max="2003-12-31" v-model="applicant.persons.birthDate">
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="username">Correo Electrónico</label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input v-if="this.rol == 1" type="text" class="form-control" id="username" placeholder="email" v-model="recruiter.person.username">
                    <input v-else-if="this.rol == 2" type="text" class="form-control" id="username" placeholder="email" v-model="applicant.persons.username">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="phoneNumber">Teléfono</label>
                    <input v-if="this.rol == 1" type="number" class="form-control" id="phoneNumber" placeholder="Teléfono" v-model="recruiter.person.phoneNumber">
                    <input  v-else-if="this.rol == 2" type="number" class="form-control" id="phoneNumber" placeholder="Teléfono" v-model="applicant.persons.phoneNumber">
                </div>
            </div>
            <div class="row">
                <div v-if="this.rol == 2" class="col-md-4 mb-3">
                    <span class="required">*  </span> <label for="state">Ubicación</label>
                    <select type="text" class="form-control" id="state" placeholder="Ubicación" v-model="applicant.state">
                        <option value="no" :selected="true">Seleccione un Estado...</option>
                        <option value="Aguascalientes">Aguascalientes</option>
                        <option value="Baja California">Baja California</option>
                        <option value="Baja California Sur">Baja California Sur</option>
                        <option value="Campeche">Campeche</option>
                        <option value="Chiapas">Chiapas</option>
                        <option value="Chihuahua">Chihuahua</option>
                        <option value="CDMX">Ciudad de México</option>
                        <option value="Coahuila">Coahuila</option>
                        <option value="Colima">Colima</option>
                        <option value="Durango">Durango</option>
                        <option value="Estado de México">Estado de México</option>
                        <option value="Guanajuato">Guanajuato</option>
                        <option value="Guerrero">Guerrero</option>
                        <option value="Hidalgo">Hidalgo</option>
                        <option value="Jalisco">Jalisco</option>
                        <option value="Michoacán">Michoacán</option>
                        <option value="Morelos">Morelos</option>
                        <option value="Nayarit">Nayarit</option>
                        <option value="Nuevo León">Nuevo León</option>
                        <option value="Oaxaca">Oaxaca</option>
                        <option value="Puebla">Puebla</option>
                        <option value="Querétaro">Querétaro</option>
                        <option value="Quintana Roo">Quintana Roo</option>
                        <option value="San Luis Potosí">San Luis Potosí</option>
                        <option value="Sinaloa">Sinaloa</option>
                        <option value="Sonora">Sonora</option>
                        <option value="Tabasco">Tabasco</option>
                        <option value="Tamaulipas">Tamaulipas</option>
                        <option value="Tlaxcala">Tlaxcala</option>
                        <option value="Veracruz">Veracruz</option>
                        <option value="Yucatán">Yucatán</option>
                        <option value="Zacatecas">Zacatecas</option>
                    </select>
                </div>
                <div v-if="this.rol == 1" class="col-md-4 mb-3">
                  <span class="required">* </span><label for="job">Puesto</label>
                    <input type="text" class="form-control" id="job" placeholder="Puesto" v-model="recruiter.job">
                </div>
            </div>

            <div v-if="this.rol == 1" class="mt-4">
                <h2> <b-icon icon="building" class="mr-2"></b-icon> Datos de la Empresa</h2>
                <hr />
            </div>
            <div v-if="this.rol == 1" class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <span class="required">* </span><label for="nameCompany">Nombre</label>
                            <input type="text" class="form-control" id="nameCompany" placeholder="Nombre"
                                v-model="recruiter.company.name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <span class="required">* </span><label for="stateCompany">Ubicación</label>
                            <select type="text" class="form-control" id="stateCompany" placeholder="Ubicación"
                                v-model="recruiter.company.state">
                                <option value="no">Seleccione un Estado...</option>
                                <option value="Aguascalientes">Aguascalientes</option>
                                <option value="Baja California">Baja California</option>
                                <option value="Baja California Sur">Baja California Sur</option>
                                <option value="Campeche">Campeche</option>
                                <option value="Chiapas">Chiapas</option>
                                <option value="Chihuahua">Chihuahua</option>
                                <option value="CDMX">Ciudad de México</option>
                                <option value="Coahuila">Coahuila</option>
                                <option value="Colima">Colima</option>
                                <option value="Durango">Durango</option>
                                <option value="Estado de México">Estado de México</option>
                                <option value="Guanajuato">Guanajuato</option>
                                <option value="Guerrero">Guerrero</option>
                                <option value="Hidalgo">Hidalgo</option>
                                <option value="Jalisco">Jalisco</option>
                                <option value="Michoacán">Michoacán</option>
                                <option value="Morelos">Morelos</option>
                                <option value="Nayarit">Nayarit</option>
                                <option value="Nuevo León">Nuevo León</option>
                                <option value="Oaxaca">Oaxaca</option>
                                <option value="Puebla">Puebla</option>
                                <option value="Querétaro">Querétaro</option>
                                <option value="Quintana Roo">Quintana Roo</option>
                                <option value="San Luis Potosí">San Luis Potosí</option>
                                <option value="Sinaloa">Sinaloa</option>
                                <option value="Sonora">Sonora</option>
                                <option value="Tabasco">Tabasco</option>
                                <option value="Tamaulipas">Tamaulipas</option>
                                <option value="Tlaxcala">Tlaxcala</option>
                                <option value="Veracruz">Veracruz</option>
                                <option value="Yucatán">Yucatán</option>
                                <option value="Zacatecas">Zacatecas</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-12">
                            <div class="form-group">
                                <label>Logo</label>
                                <div class="custom-file">
                                    <input type="file" accept="image/*" class="custom-file-input form-control" id="logo"
                                        lang="es" @change="addImage($event)">
                                    <label class="custom-file-label" for="logo" enctype="multipart/form-data"
                                        id="image-name">Seleccionar Imagen</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 mb-8 text-center">
                            <img id="viewImagen" src="#" style="max-width: 100%; max-height: 160px;" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="float: right;">
                <div class="row">
                    <div class="col-md-12">
                        <button v-if=" this.rol == 1" class="btn btn-success btn-lg btn-block" @click="updateRecruiter()">
                            <b-icon icon="check-circle"></b-icon>  Actualizar
                        </button>
                        <button v-else-if=" this.rol == 2" class="btn btn-success btn-lg btn-block" @click="updateApplicant()">
                            <b-icon icon="check-circle"></b-icon>  Actualizar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" style="height:200px"></div>
         <!-- Modal de cambio de contraseña -->
        <b-modal id="modal-center" centered>
        <div slot="modal-title"><b-icon icon="file-lock2" class="mr-3"></b-icon>Cambio de contraseña</div>
            <div class="row">
                <div class="col-md-12">
                    <span class="required">*  </span><label for="password" class="col-form">Contraseña</label>
                    <div class="input-group">
                        <input v-if="hidePassword" type="Password" class="form-control" id="password" placeholder="Contraseña"  v-model="password">
                        <input v-else type="text" class="form-control" id="password" placeholder="Contraseña"  v-model="password">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" @click="showPassword()">
                                <b-icon v-if="hidePassword" icon="eye-slash"></b-icon>
                                <b-icon v-else icon="eye-fill"></b-icon>
                            </button>                            
                        </div>
                    </div>
                </div>          

                <div class="col-md-12">
                    <span class="required">*  </span><label for="confirmPassword" class="col-form"> Confirmar contraseña</label>
                    <div class="input-group">
                        <input v-if="hidePassword" type="Password" class="form-control" id="confirmPassword" placeholder="Contraseña"  v-model="repassword">
                        <input v-else type="text" class="form-control" id="confirmPassword" placeholder="Contraseña"  v-model="repassword">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" @click="showPassword()">
                                <b-icon v-if="hidePassword" icon="eye-slash"></b-icon>
                                <b-icon v-else icon="eye-fill"></b-icon>
                            </button>                            
                        </div>
                    </div>
                </div>
            </div>  
            <template #modal-footer>
                <button v-b-modal.modal-close_visit class="btn btn-danger m-1" block @click="$bvModal.hide('modal-center')">
                    <b-icon icon="x-circle"></b-icon>  Cerrar
                </button>
                <button v-b-modal.modal-close_visit class="btn btn-success m-1" @click="updatePassword()">
                    <b-icon icon="check-circle"></b-icon> Guardar
                </button>
            </template>
        </b-modal>
    </div>
</template>
<script>

var token_json = "";

if (localStorage.getItem('user') != null){
  var token = localStorage.getItem('user'); //Variable que almacena el token
  token_json = JSON.parse(atob(token.split('.')[1]))["sub"]; //El token se convierte a JSON y obtenemos el 'sub' (username/email)
}


import ApplicantService from '../../service/ApplicantService';
import PersonaService from '../../service/PersonaService';
import ReclutadorService from '../../service/ReclutadorService';
import CompaniaService from '../../service/CompaniaService';

export default {
    name: "aplicante",
    data(){
        return{
            applicant:{
                idApplicant:"",
                state:"",
                persons:{
                    id:"",
                    name:"",
                    firstLastName:"",
                    secondLastName: "",
                    username:"",
                    birthDate:"",
                    phoneNumber:"",
                    password:"",
                    enabled: 1,
                    rol:{
                        id_rol: 2,
                        nombre: "applicant"
                    }
                }
            },
            recruiter:{
                id:"",
                job:"",
                person:{
                    id:"",
                    name:"",
                    firstLastName:"",
                    secondLastName: "",
                    username:"",
                    birthDate:"",
                    phoneNumber:"",
                    password:"",
                    enabled: 1,
                    rol:{
                        id_rol: 1,
                        nombre: "recruiter"
                    }
                },
                company:{
                    idCompany:"",
                    name:"",
                    state:"",
                    logo:""
                }
            },
            logo:"",
            password:"",
            repassword:"",
            username:token_json,
            rol:"",
            idPerson:"",
            hidePassword: true,
        }
    }, methods:{
        updateApplicant(){
            //Validar campos obligatorios
            if(this.applicant.state == "no" || this.applicant.state == ""){ //Valida la Ubicación
                this.showErrorAlert("Campo faltante","La ubicación es obligatoria");
                return;
            }
            //Actualización Persona
            PersonaService.create(this.applicant.persons)
            .then((response) => {
                const mensaje = response.data.message;
                if(mensaje != "Ok!"){
                    if(mensaje.includes("persons.phone_number_UNIQUE")){ //Válida que el número de teléfono sea único
                        this.showErrorAlert("Error en el formulario","El Número de Teléfono ya está registrado");
                    }
                    if(mensaje.includes("persons.username_UNIQUE")){ //Válida que el username sea único
                        this.showErrorAlert("Error en el formulario","El Correo electrónico ya está registrado");
                    }
                    if(mensaje == "error"){
                        var _html = "<ul class='list-unstyled'>"
                        var errores = response.data.data.split("--");
                        for(var i = 0; i != (errores.length - 1); i++){
                            _html += "<li class='list-unstyled'>" + errores[i] + "</li>";
                        }
                        _html += "</ul>";
                        this.$swal({
                            title:"Favor de corregir:",
                            icon: "error",
                            showCancelButton: false,
                            confirmButtonText: "Aceptar",
                            html:_html,
                            timer:10000
                        })
                    }
                    return;
                }
                this.applicant.persons = response.data.data; //Asignamos la Persona registrada
                ApplicantService.create(this.applicant) //Creamos el Aplicante
                .then(() => {
                    //Mensaje de éxito
                    this.$swal({
                        title: "Actualizacion éxitosa",
                        text: "Los datos fueron actualizados",
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 5000
                    })
                    .then(() => {
                        this.$router.push("/");
                    })
                })
                .catch(() => { //Hubo un error al intentar registrar el Aplicante
                    this.showErrorAlert("Error de actualización","No se pudo actualizar el registro");
                    //Añadir método para eliminar persona por medio de su ID -> Configurar SecurityConfiguration
                })
            });
        },
        updateRecruiter(){
            var bandera = false;
            //Validando el puesto
            if(this.recruiter.job == ""){ //Valida que las contraseñas sean iguales
                this.showErrorAlert("Campo faltante","El puesto es obligatorio");
                bandera = true;
            }
            //Validando el nombre de la compañia
            if(this.recruiter.company.name == ""){
                this.showErrorAlert("Campo faltante","El nombre de la empresa es obligatorio");
                bandera = true;
            }
            //Validando la ubicación de la compañia
            if(this.recruiter.company.state == ""){
                this.showErrorAlert("Campo faltante","La ubicación de la empresa es obligatoria");
                bandera = true;
            }
            if(!bandera){
                //Validando que la compañia sea única
                CompaniaService.findByNameExcludeThis(this.recruiter.company.idCompany ,this.recruiter.company.name)
                .then(response =>{
                    if(!response.data){ //La compañia es única
                        let formData = new FormData();
                        formData.append("name", this.recruiter.company.name);
                        formData.append("state", this.recruiter.company.state);
                        formData.append("idCompany", this.recruiter.company.idCompany);
                        if(this.recruiter.company.logo == ""){ // No vamos a almacenar el Logo
                            CompaniaService.update2(this.recruiter.company.idCompany ,formData, {headers:{'Content-Type':'multipart/form-data'}})
                            .then((response) => {
                                this.recruiter.company = response.data;
                                this.saveRecruiter();
                            })
                        }else{
                            formData.append("logo", this.logo); //Almacenamos el Logo
                            CompaniaService.update(this.recruiter.company.idCompany ,formData, {headers:{'Content-Type':'multipart/form-data'}})
                            .then((response) => {
                                this.recruiter.company = response.data;
                                this.saveRecruiter();
                            })
                        }
                    }else{
                        this.$swal({
                            title: "Error en la actualización",
                            text: "El nombre de la empresa ya esta en uso",
                            icon: 'error',
                            showConfirmButton: false,
                            timer: 5000
                        })
                    }
                })
                .catch(() => {
                    this.showErrorAlert("Error de registro","No se pudo registrar la compañia");
                });
            }
        },
        saveRecruiter(){
            //Almacenamos la persona
            PersonaService.create(this.recruiter.person)
            .then((response) => {
                const mensaje = response.data.message;
                if(mensaje != "Ok!"){
                    //Eliminamos la compañia
                    CompaniaService.deleteByname(this.recruiter.company.name);
                    if(mensaje.includes("persons.phone_number_UNIQUE")){ //Válida que el número de teléfono sea único
                        this.showErrorAlert("Error en el formulario","El Número de Teléfono ya está registrado");
                    }
                    if(mensaje.includes("persons.username_UNIQUE")){ //Válida que el username sea único
                        this.showErrorAlert("Error en el formulario","El Correo electrónico ya está registrado");
                    }
                    if(mensaje == "error"){
                        var _html = "<ul  style='text-align:left;'>"
                        var errores = response.data.data.split("--");
                        for(var i = 0; i != (errores.length - 1); i++){
                            _html += "<li>" + errores[i] + "</li>";
                        }
                        _html += "</ul>";
                        this.$swal({
                            title:"Favor de corregir:",
                            icon: "error",
                            showCancelButton: false,
                            confirmButtonText: "Aceptar",
                            html:_html,
                            timer:10000
                        });
                    }
                    return;
                }
                console.log(this.recruiter.company.logo);
                ReclutadorService.create(this.recruiter) //Creamos el Reclutador
                .then(() => {
                    //Mensaje de éxito
                    this.$swal({
                        title: "Registro éxitoso",
                        text: "Ya puedes ingresar al sistema",
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 5000
                    })
                    .then(() => {
                        this.$router.push("/");
                    })
                })
                .catch(() => { //Hubo un error al intentar registrar el Reclutador
                    this.showErrorAlert("Error de actualización","No se pudo actualizar el registro");
                    //Añadir método para eliminar persona por medio de su ID -> Configurar SecurityConfiguration
                })
            });
        },
        dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), 
                n = bstr.length, 
                u8arr = new Uint8Array(n);
            while(n--){
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new File([u8arr], filename, {type:mime});
        },
        showErrorAlert(titulo, error){
            this.$swal({
                title: titulo,
                text: error,
                icon: 'error',
                showConfirmButton:false,
                timer: 3000
            });
        },
        getUserInfo(){
            //user el token_json para la consulta
            PersonaService.getByUsername(token_json).then((response) =>{
                if(response.data){ //Navegación cuando el rol existe -> Después validar por el tipo de Rol
                    this.idPerson = response.data.id;
                    if (response.data.rol.id_rol == 1) {
                        this.recruiter.person.id = response.data.id;
                        this.recruiter.person.name = response.data.name;
                        this.recruiter.person.firstLastName = response.data.firstLastName;
                        this.recruiter.person.secondLastName = response.data.secondLastName;
                        this.recruiter.person.username = response.data.username;
                        this.recruiter.person.birthDate = response.data.birthDate;
                        this.recruiter.person.phoneNumber = response.data.phoneNumber;
                        this.recruiter.person.password = response.data.password;
                        ReclutadorService.getByIdPerson(response.data.id).then((response) =>{
                            this.recruiter.id = response.data.id;
                            this.recruiter.job = response.data.job;
                            this.recruiter.company.idCompany = response.data.company.idCompany;
                            this.recruiter.company.state = response.data.company.state;
                            this.recruiter.company.name = response.data.company.name;
                            //imagen    
                            document.getElementById('viewImagen').src = "data:image/gif;base64,"+response.data.company.logo;
                            var file = this.dataURLtoFile('data:image/gif;base64,'+response.data.company.logo,'imagen.png');
                            this.recruiter.company.logo = file;
                            this.logo = file;
                        }).catch((e) =>{ //Cuando hay un error, se toma cómo sino hubiera token.
                            console.info("Error al cargar datos " +e);
                        })
                    }else{
                        this.applicant.persons.id = response.data.id;
                        this.applicant.persons.name = response.data.name;
                        this.applicant.persons.firstLastName = response.data.firstLastName;
                        this.applicant.persons.secondLastName = response.data.secondLastName;
                        this.applicant.persons.username = response.data.username;
                        this.applicant.persons.birthDate = response.data.birthDate;
                        this.applicant.persons.phoneNumber = response.data.phoneNumber;
                        this.applicant.persons.password = response.data.password;
                        ApplicantService.getByIdPerson(response.data.id).then((response) =>{
                            this.applicant.idApplicant = response.data.idApplicant;
                            this.applicant.state = response.data.state;
                        }).catch((e) =>{ //Cuando hay un error, se toma cómo sino hubiera token.
                            console.info("Error al cargar datos " +e);
                        })
                    }
                    this.rol = response.data.rol.id_rol;
                }else{
                this.setNavNoToken(); //No hay token
                }
            })
            .catch(e =>{ //Cuando hay un error, se toma cómo sino hubiera token.
            this.setNavNoToken();
            console.info("No has iniciado sesión " + e);
            })
        },
        addImage(e){
            this.logo = e.target.files[0];
            let reader = new FileReader();
            var file = this.logo;
            reader.onload = (e) =>{
                document.getElementById('viewImagen').src = e.target.result; //Recuperar imagen proporcionada
                document.getElementById('viewImagen').hidden = false; //Ver imagen
            };
            reader.readAsDataURL(file);
        },
        updatePassword(){
             if(this.password.length <= 5){
                this.showErrorAlert("Error en la contraseña","La contraseña no puede estar vacía ni ser menor de 5 caracteres");
                return;
            }
            if(this.repassword != this.password){ //Valida que las contraseñas sean iguales
                this.showErrorAlert("Error en la contraseña","Las Contraseñas no coinciden");
                return;
            }
            let formData = new FormData();
            formData.append("password", this.password);
            formData.append("repassword", this.repassword);
            formData.append("idPerson", this.idPerson);
            PersonaService.updatePassword(this.idPerson,formData )
            .then((response) => {
                const mensaje = response.data.message;
                this.$root.$emit('bv::hide::modal', 'modal-center', '#btnShow');
                if(mensaje == "Ok!"){
                    this.$swal({
                        title: "Contraseña actualizada",
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 5000
                    });
                }else{
                    this.$swal({
                        title:"Error al actualizar la contraseña",
                        icon: "error",
                        showCancelButton: false,
                        confirmButtonText: "Aceptar",
                        timer:10000
                    });
                }
            });
        },
        showPassword(){
            this.hidePassword = !this.hidePassword;
        }
    },mounted() {
        this.getUserInfo();
    }
}

</script>

<style scoped>
  .required{
    color: red;
    font-size: 18;
    font-weight: bold;
  }
  .btn-sireta{
    background-color: #F28D35;
    border: #F28D35;
    color: white;

  }
  .btn-sireta:hover{
    background-color: #F24405;
    color: white;
  }
  .btn-sireta:focus{
    background-color: #F24405;
    color: white;
  }
</style>
