
<template>
    <div>
        <div class="container mt-5">

            <h2>
                <span v-if="this.rol == 1">Datos del Reclutador</span>
                <span v-else-if="this.rol == 2">Datos del Postulante</span>
            </h2>
            <hr />
            <input type="hidden" id="id" name="id" value="">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <span ></span><label for="name">Nombre</label>
                    <input v-if="this.rol == 1" type="text" class="form-control" id="name" placeholder="Nombre" v-model="recruiter.person.name" >
                    <input v-else-if="this.rol == 2" type="text" class="form-control" id="name" placeholder="Nombre" v-model="applicant.persons.name">
                </div>
                <div class="col-md-4 mb-3">
                    <span></span><label for="firstLastName">Primer apellido</label>
                    <input v-if="this.rol == 1" type="text" class="form-control" id="firstLastName" placeholder="Primer apellido" v-model="recruiter.person.firstLastName">
                    <input v-else-if="this.rol == 2" type="text" class="form-control" id="firstLastName" placeholder="Primer apellido" v-model="applicant.persons.firstLastName">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="secondLastName">Segundo apellido</label>
                    <input v-if="this.rol == 1"  type="text" class="form-control" id="secondLastName" placeholder="Segundo apellido" v-model="recruiter.person.secondLastName">
                    <input v-else-if="this.rol == 2" type="text" class="form-control" id="firstLastName" placeholder="Primer apellido" v-model="applicant.persons.secondLastName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <span></span><label for="birthdate">Fecha de nacimiento</label>
                    <input v-if="this.rol == 1" type="date" class="form-control" id="birthdate" name="trip-start" min="1998-01-01" max="2003-12-31" v-model="recruiter.person.birthDate">
                    <input v-else-if="this.rol == 2" type="date" class="form-control" id="birthdate" name="trip-start" min="1998-01-01" max="2003-12-31" v-model="applicant.persons.birthDate">
                </div>
                <div class="col-md-4 mb-3">
                    <span></span><label for="username">Correo Electrónico</label>
                    <div class="input-group">
                    <input v-if="this.rol == 1" type="text" class="form-control" id="username" placeholder="email" v-model="recruiter.person.username">
                    <input v-else-if="this.rol == 2" type="text" class="form-control" id="username" placeholder="email" v-model="applicant.persons.username">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <span></span><label for="phoneNumber">Teléfono</label>
                    <input v-if="this.rol == 1" type="number" class="form-control" id="phoneNumber" placeholder="Teléfono" v-model="recruiter.person.phoneNumber">
                    <input  v-else-if="this.rol == 2" type="number" class="form-control" id="phoneNumber" placeholder="Teléfono" v-model="applicant.persons.phoneNumber">
                </div>
            </div>
            <div class="row">
                <div v-if="this.rol == 1" class="col-md-4 mb-3">
                  <span></span><label for="job">Puesto</label>
                    <input type="text" class="form-control" id="job" placeholder="Puesto" v-model="recruiter.job">
                </div>
            </div>

            <div v-if="this.rol == 1" class="mt-4">
                <h2>Datos de la Empresa</h2>
                <hr />
            </div>
            <div v-if="this.rol == 1" class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <span></span><label for="nameCompany">Nombre</label>
                            <input type="text" class="form-control" id="nameCompany" placeholder="Nombre"
                                v-model="recruiter.company.name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <span></span><label for="stateCompany">Ubicación</label>
                            <select type="text" class="form-control" id="stateCompany" placeholder="Ubicación"
                                v-model="recruiter.company.state">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" style="height:200px"></div>
    </div>
</template>

<script>

var token_json = "";

if (localStorage.getItem('user') != null){
  var token = localStorage.getItem('user'); 
  token_json = JSON.parse(atob(token.split('.')[1]))["sub"]; 
}


import ApplicantService from '../../service/ApplicantService';
import PersonaService from '../../service/PersonaService';
import ReclutadorService from '../../service/ReclutadorService';

export default {
    name: "aplicante",
    data(){
        return{
            applicant:{
                idApplicant:"",
                state:"",
                persons:{
                    id:"",
                    name:"",
                    firstLastName:"",
                    secondLastName: "",
                    username:"",
                    birthDate:"",
                    phoneNumber:"",
                    enabled: 1,
                    rol:{
                        id_rol: 2,
                        nombre: "applicant"
                    }
                }
            },
            recruiter:{
                id:"",
                job:"",
                person:{
                    id:"",
                    name:"",
                    firstLastName:"",
                    secondLastName: "",
                    username:"",
                    birthDate:"",
                    phoneNumber:"",
                    enabled: 1,
                    rol:{
                        id_rol: 1,
                        nombre: "recruiter"
                    }
                },
                company:{
                    idCompany:"",
                    name:"",
                }
            },
            repassword:"",
            username:token_json,
            rol:"",
        }
    }, methods:{
        getUserInfo(){
            PersonaService.getByUsername(token_json).then((response) =>{
                if(response.data){ 
                    console.log(response.data);
                    if (response.data.rol.id_rol == 1) {
                        console.log("Reclutador")
                        this.recruiter.person.id = response.data.id;
                        this.recruiter.person.name = response.data.name;
                        this.recruiter.person.firstLastName = response.data.firstLastName;
                        this.recruiter.person.secondLastName = response.data.secondLastName;
                        this.recruiter.person.username = response.data.username;
                        this.recruiter.person.birthDate = response.data.birthDate;
                        this.recruiter.person.phoneNumber = response.data.phoneNumber;
                        ReclutadorService.getByIdPerson(response.data.id).then((response) =>{
                            console.log(response.data);
                            this.recruiter.id = response.data.id;
                            this.recruiter.job = response.data.job;
                            this.recruiter.company.idCompany = response.data.company.idCompany;
                            this.recruiter.company.state = response.data.company.state;
                            this.recruiter.company.name = response.data.company.name;
                            this.recruiter.company.logo = response.data.company.logo;
                            //imagen    
                            document.getElementById('viewImagen').src = "data:image/gif;base64,"+response.data.company.logo;
                                               

                        }).catch((e) =>{ //Cuando hay un error, se toma cómo sino hubiera token.
                            console.info("Error al cargar datos " +e);
                        })
                    }else{
                        this.applicant.persons.id = response.data.id;
                        this.applicant.persons.name = response.data.name;
                        this.applicant.persons.firstLastName = response.data.firstLastName;
                        this.applicant.persons.secondLastName = response.data.secondLastName;
                        this.applicant.persons.username = response.data.username;
                        this.applicant.persons.birthDate = response.data.birthDate;
                        this.applicant.persons.phoneNumber = response.data.phoneNumber;
                        console.log("Applicante");
                        ApplicantService.getByIdPerson(response.data.id).then((response) =>{
                            console.log(response.data);
                            this.applicant.idApplicant = response.data.idApplicant;
                            this.applicant.state = response.data.state;
                            console.log(response);
                        }).catch((e) =>{ //Cuando hay un error, se toma cómo sino hubiera token.
                            console.info("Error al cargar datos " +e);
                        })
                    }
                    this.rol = response.data.rol.id_rol;
                }else{
                this.setNavNoToken(); //No hay token
                }   
             
            })
            .catch(e =>{ //Cuando hay un error, se toma cómo sino hubiera token.
            this.setNavNoToken();
            console.info("No has iniciado sesión " + e);
            })
        }
    },mounted() {
        this.getUserInfo();
    }
}

</script>


