<template>
    <div>
        <div class="mt-5">
            <div class="container">
                <div class="col-md-12">
                    <h2> <b-icon icon="card-list" aria-hidden="true"></b-icon> <span>Datos de la Vacante</span></h2>
                    <hr />
                    <div class="row">
                        <div class="col-md-4 mb-12">
                            <span class="required">* </span><label for="titulo">Título</label>
                            <input type="text" class="form-control" v-model="vacant.title" id="titulo" maxlength="45" placeholder="Título">
                        </div>
                        <div class="col-md-4 mb-12">
                            <span class="required">* </span><label for="descripcion">Descripción</label>
                            <input type="text" class="form-control" v-model="vacant.description" id="descripcion" maxlength="200" placeholder="Descripción">
                        </div>
                        <div class="col-md-4 mb-12">
                            <span class="required">* </span> <label for="modalidad">Modalidad</label>
                            <select type="text" class="form-control" v-model="vacant.modality" id="modalidad" placeholder="Modalidad">
                                <option value="">Seleccione</option>
                                <option value="Presencial">Presencial</option>
                                <option value="Remoto">Remoto</option>
                                <option value="Híbrido">Híbrido</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-12">
                            <span class="required">* </span> <label for="tipo">Tipo</label>
                            <select type="text" class="form-control" id="tipo" v-model="vacant.type" placeholder="Tipo">
                                <option value="">Seleccione</option>
                                <option value="Tiempo Completo">Tiempo Completo</option>
                                <option value="Medio Tiempo">Medio Tiempo</option>
                                <option value="Fines de Semana">Fines de Semana</option>
                                <option value="Horarios Flexibles">Horarios Flexibles</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-12">
                            <span class="required">* </span><label for="birthdate">Fecha inicial</label>
                            <input type="date" class="form-control" id="birthdate" v-model="vacant.initialDate" name="trip-start">
                        </div>
                        <div class="col-md-4 mb-12">
                            <span class="required">* </span><label for="birthdate2">Fecha final</label>
                            <input type="date" class="form-control" id="birthdate2" v-model="vacant.validityPeriod" name="trip-start">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                    <h2> <b-icon icon="calendar2-week" aria-hidden="true"></b-icon> <span>Salario</span></h2>
                    <hr />
                    <div class="row">
                        <div class="col-md-4 mb-12">
                            <span class="required">* </span><label for="salarioMin">Salario minimo</label>
                            <input type="number" class="form-control" v-model="salary.minimum" id="salarioMin" placeholder="Salario minimo">
                        </div>
                        <div class="col-md-4 mb-12">
                            <span class="required">* </span><label for="salarioMax">Salario máximo</label>
                            <input type="number" class="form-control" id="salarioMax" v-model="salary.maximum" placeholder="Salario máximo">
                        </div>
                        <div class="col-md-4 mb-12">
                            <span class="required">* </span> <label for="periodicidad">Periodicidad de pago</label>
                            <select type="text" id="periodicidad" class="form-control" v-model="salary.periodicity">
                                <option value="">Seleccione</option>
                                <option value="Hora">Hora</option>
                                <option value="Día">Día</option>
                                <option value="Semana">Semana</option>
                                <option value="Quincena">Quincena</option>
                                <option value="Mes">Mes</option>
                                <option value="Año">Año</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div clas="col-md-12">
                    <br>
                    <h2> <b-icon icon="check2-circle" aria-hidden="true"></b-icon> <span>Beneficios</span></h2>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Uniformes"
                                    @click="inputChecked('Uniformes')">
                                <label class="form-check-label" for="Uniformes">Uniformes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Vales de Despensa"
                                    @click="inputChecked('Vales de Despensa')">
                                <label class="form-check-label" for="Vales de Despensa">Vales de Despensa</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Opción Base Laboral"
                                    @click="inputChecked('Opción Base Laboral')">
                                <label class="form-check-label" for="Opción Base Laboral">Opción Base
                                    Laboral</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Caja de Ahorro"
                                    @click="inputChecked('Caja de Ahorro')">
                                <label class="form-check-label" for="Caja de Ahorro">Caja de Ahorro</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Apoyo de Transporte"
                                    @click="inputChecked('Apoyo de Transporte')">
                                <label class="form-check-label" for="Apoyo de Transporte">Apoyo de
                                    Transporte</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Teléfono de la Empresa"
                                    @click="inputChecked('Teléfono de la Empresa')">
                                <label class="form-check-label" for="Teléfono de la Empresa">Teléfono de la
                                    Empresa</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Estacionamiento Gratuito"
                                    @click="inputChecked('Estacionamiento Gratuito')">
                                <label class="form-check-label" for="Estacionamiento Gratuito">Estacionamiento
                                    Gratuito</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Seguro de Gastos Médicos"
                                    @click="inputChecked('Seguro de Gastos Médicos')">
                                <label class="form-check-label" for="Seguro de Gastos Médicos">Seguro de Gastos
                                    Médicos</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Seguro Dental"
                                    @click="inputChecked('Seguro Dental')">
                                <label class="form-check-label" for="Seguro Dental">Seguro Dental</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Servicio de Comedor"
                                    @click="inputChecked('Servicio de Comedor')">
                                <label class="form-check-label" for="Servicio de Comedor">Servicio de
                                    Comedor</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Seguro de Vida"
                                    @click="inputChecked('Seguro de Vida')">
                                <label class="form-check-label" for="Seguro de Vida">Seguro de Vida</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Seguro de la Vista"
                                    @click="inputChecked('Seguro de la Vista')">
                                <label class="form-check-label" for="Seguro de la Vista">Seguro de la Vista</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Vacaciones Superiores a la Ley"
                                    @click="inputChecked('Vacaciones Superiores a la Ley')">
                                <label class="form-check-label" for="Vacaciones Superiores a la Ley">Vacaciones
                                    Superiores a la
                                    Ley</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 border border-secondary mt-2" style="margin-left:8px; width: 90%;">
                                <div class="mt-2" style="margin-bottom: 10px;">
                                    <button class="btn btn-primary mt-1" v-for="(benefit, index) in benefits" :key="index"
                                        @click="removeBenefit(benefit)" style="margin-left:4px">
                                        <span>{{ benefit }}</span>
                                        <span class="sr-only"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="otros">Otros:</label>
                                    <input type="text" class="form-control" maxlength="50" id="otros" placeholder="Escribe">
                                </div>
                                <div class="col-md-4 mt-4">
                                    <button type="button" class="btn btn-success" @click="addBenefit()">Registrar
                                     <b-icon icon="check2-circle" aria-hidden="true"></b-icon>    Beneficio</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-md-2 mt-4" style="float: right;">
                    <div class="row">
                        <button class="btn btn-sireta btn-lg btn-block" @click="validitingSalaries()"> <b-icon icon="check2-circle" aria-hidden="true"></b-icon> Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import ReclutadorService from '../../service/ReclutadorService';
import SalaryService from '../../service/SalaryService';
import VacantService from '../../service/VacantService';
import BenefitService from '../../service/BenefitService';

export default {
    name: "editarVacante",
    data(){
        return{
            staticDict : {
                "Uniformes" : false,
                "Vales de Despensa" : false,
                "Opción Base Laboral" : false,
                "Caja de Ahorro" : false,
                "Apoyo de Transporte" : false,
                "Teléfono de la Empresa" : false,
                "Estacionamiento Gratuito" : false,
                "Seguro de Gastos Médicos" : false,
                "Seguro Dental" : false,
                "Servicio de Comedor" : false,
                "Seguro de Vida" : false,
                "Seguro de la Vista" : false,
                "Vacaciones Superiores a la Ley" : false
            },
            benefits : [],
            benefit:{
                benefit:"",
                vacant:{

                }
            },
            salary:{
                idSalary:0,
                minimum:0,
                maximum:0,
                periodicity:""
            },
            vacant:{
                idVacant:0,
                title:"",
                description:"",
                modality:"",
                type:"",
                initialDate:"",
                validityPeriod:"",
                salary:{
                    idSalary:0,
                    minimum:0,
                    maximum:0,
                    periodicity:""
                },
                recruiter:{

                }
            }
        }
    },
    methods:{
        inputChecked(key){
            this.staticDict[key] = !this.staticDict[key];
            if(this.staticDict[key]){
                this.benefits.push(key);
            }else{
                this.benefitToDelete(key);
            }
        },
        benefitToDelete(ben){
            for(var i = 0; i != this.benefits.length; i++){
                if(this.benefits[i] == ben){
                    this.benefits.splice(i,1);
                    return;
                }
            }
        },
        removeBenefit(ben){
            if(this.staticDict[ben] != undefined){
                this.staticDict[ben] = !this.staticDict[ben];
                document.getElementById(ben).checked = false;
            }
            this.benefitToDelete(ben);
        },
        addBenefit(){
            if(document.getElementById('otros').value != ""){
                this.benefits.push(document.getElementById('otros').value);
                document.getElementById('otros').value = "";
            }else{
                this.showErrorAlert("Campo faltante","Escribe el beneficio a registrar")
            }
        },
        showErrorAlert(titulo, error){
            this.$swal({
                title: titulo,
                text: error,
                icon: 'error',
                showConfirmButton:false,
                timer: 3000
            });
        },
        validitingSalaries(){
            console.log(this);
            
            if(this.benefits.length == 0){
                this.showErrorAlert("Campo faltante","Registra al menos a un beneficio");
                return;
            }
            //Almacenamos Salario
            SalaryService.create(this.salary)
            .then((response) =>{
                const mensaje = response.data.message;
                if(mensaje != "Ok!"){
                    if(mensaje == "error"){
                        var errores = response.data.data.split("--");
                        this.showErrors(errores);
                    }
                    return;
                }
                this.vacant.salary = response.data.data; //Asignamos el salario devuelto por el servidor
                //Almacenar vacante
                VacantService.create(this.vacant)
                .then((response) =>{
                    const mensaje = response.data.message;
                    if(mensaje != "Ok!"){
                        if(mensaje == "error"){
                            SalaryService.delete(this.vacant.salary.idSalary)
                            var errores = response.data.data.split("--");
                            this.showErrors(errores);
                        }
                        return;
                    }
                    this.benefit.vacant = response.data.data;
                    //Borramos los beneficios actuales
                    BenefitService.deleteAllByVacantId(this.vacant.idVacant);
                    //Almacenar Beneficios nuevos
                    for(var i = 0; i != this.benefits.length; i ++){
                        this.benefit.benefit = this.benefits[i];
                        console.log(this.benefit);
                        BenefitService.create(this.benefit);
                    }
                    //Mensaje de éxito
                    this.$swal({
                        title: "Registro éxitoso",
                        text: "La vacante ha sido registrada",
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    .then(() => {
                        this.$router.push("/vacante/vacantes");
                    })
                })
            })
        },
        getRecruiter(){
            var token = localStorage.getItem('user'); //Variable que almacena el token
            var id_username = JSON.parse(atob(token.split('.')[1]))["jti"]; //El token se convierte a JSON y obtenemos el 'sub' (username/email)
            ReclutadorService.getByIdPerson(id_username)
            .then((response) => {
                this.vacant.recruiter = response.data;
            })
        },
        showErrors(errores){
            var _html = "<ul>"
            for(var i = 0; i != (errores.length - 1); i++){
                _html += "<li>" + errores[i] + "</li>";
            }
            _html += "</ul>";
            this.$swal({
                title:"Favor de corregir:",
                icon: "error",
                showCancelButton: false,
                confirmButtonText: "Aceptar",
                html:_html,
                timer:8000
            });
        },
        getVacant(){
            VacantService.getById(this.$route.params.id).then(response => {
                console.log(response.data)
                this.vacant = response.data;
                this.salary = response.data.salary;
                BenefitService.getByIdVacant(response.data.idVacant).then(response => {
                    console.log(this.benefits);
                    response.data.forEach((d)=>{
                        document.getElementById(d.benefit).checked = true;
                        console.log(d.benefit);
                        this.inputChecked(d.benefit);
                    });
                })
            })
            .catch((e) => {
                console.log("Error: " + e);
            });
        }
    },
    mounted() {
        this.getRecruiter();
        this.getVacant();
    }
}

</script>

<style scoped>
    .required {
        color: red;
        font-size: 18;
        font-weight: bold;
    }
    .btn-sireta {
        background-color: #F28D35;
        border: #F28D35;
        color: white;
    }
    .btn-sireta:hover {
        background-color: #F24405;
        color: white;
    }
    .btn-sireta:focus {
        background-color: #F24405;
        color: white;
    }
</style>