<template>
    <div class="mt-5">
        <div class="row m-5">
            <div style="width:100%; margin: 0 10% 2% 10%">
                <div style="float: left;">
                    <div style="float: left;"><h2> <b-icon icon="card-list" aria-hidden="true"></b-icon> <span>Mis vacantes</span></h2></div>
                </div>
                <div style="float: right;">
                    <router-link to="/vacante/agregar" class="new-link" style="color: #ffffff">
                        <button class="btn btn-success">
                             <img src="../../assets/img/add.png" class="logo" role="img"  alt="icon"/> Agregar
                        </button>
                    </router-link>
                </div>
            </div>

            <div class="container">
   
                <b-card v-for="(vacant, index) in vacant" style="width: 18rem;" :key="index" header-bg-variant="success"  border-variant="success" header=" " header-border-variant="success" header-text-variant="success">
                    <div style="height: 90%; display:block;">
                        <h4><b-icon-building></b-icon-building> {{vacant.title}}</h4>
                        <p><b>|</b> {{vacant.description}}</p>
                        <p><b>| Modalidad:</b> {{vacant.modality}}</p>
                        <p><b>| Tipo:</b> {{vacant.type}}</p>
                        <p><b>| Sueldo:</b> {{vacant.salary.minimum}} - {{vacant.salary.maximum}} ({{vacant.salary.periodicity}})</p>
                        <p><b>| Beneficios:</b></p>
                        <div style="overflow-y: auto; max-height: 65%;">
                            <ul v-for="(bene, index) in benefit" :key="index">
                                <li v-if="bene.vacant.idVacant == vacant.idVacant">
                                    {{bene.benefit}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="footer_btn ">
                        <div style="float: left;">
                            <button type="button" class="btn btn-danger" @click="eliminar(vacant.idVacant)"><b-icon-trash-fill></b-icon-trash-fill> Eliminar</button>
                        </div>
                        <div style="float: right;">
                            <a class="btn btn-warning" :href="'/vacante/editar/'+ vacant.idVacant">
                                <b-icon-pencil-fill></b-icon-pencil-fill> Editar
                            </a>
                        </div>
                    </div>
                </b-card>

            </div>
            
        </div>
    </div>
</template>

<script>

var token_json = "";

if (localStorage.getItem("user") != null) {
  var token = localStorage.getItem("user"); //Variable que almacena el token
  token_json = JSON.parse(atob(token.split(".")[1]))["sub"]; //El token se convierte a JSON y obtenemos el 'sub' (username/email)
}

import ReclutadorService from "../../service/ReclutadorService";
import VacantService from '../../service/VacantService';
import BenefitService from '../../service/BenefitService';

export default {
    name: "vacantes",
    data() {
    return {
      vacant: [],
      benefit:[],
      username: token_json,
    };
  },
  methods: {
    getVacantsByRecruiter() {
      ReclutadorService.getVacantsByRecruiter(token_json)
        .then(response => {
            console.log(response.data)
            this.vacant = response.data;
        })
        .catch((e) => {
          console.log("Error: " + e);
        });
    },
    getBenefitsByRecruiter() {
      ReclutadorService.getBenefitsByRecruiter(token_json)
        .then(response => {
            console.log(response.data)
            this.benefit = response.data;
        })
        .catch((e) => {
          console.log("Error: " + e);
        });
    },
    eliminar(id){
        //Primero se elminan los benefios
        BenefitService.deleteAllByVacantId(id);
        VacantService.delete(id);
        this.$swal({
            title: "Eliminación éxitosa",
            text: "La vacante ha sido eliminada",
            icon: 'success',
            showConfirmButton: false,
            timer: 3000
        })
        .then(() => {
            this.$router.go();
        })
    }
  },
  mounted() {
    this.getVacantsByRecruiter();
    this.getBenefitsByRecruiter();
  },
};
</script>

<style scoped>
    .footer_btn {
        margin-bottom: 10px;
        text-align: center;
        overflow-y: auto;
    }

    .container {
        color: black;
        display: grid;
        grid-gap: 1rem;
    }

    @media screen and (max-width: 300px) {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media screen and (min-width: 300px) and (max-width: 576px) {
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 576px) and (max-width: 992px) {
        .container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 992px) {
        .container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
</style>
