<template>
<div>
    <div class="row mt-3">
            <div class="col-md-6 text-center">
                <h2><span>Vacantes ({{estado}})</span></h2>
            </div>
            <div class="col-md-6">
                <div style="float: right; position: absolute;">
                    <label> Buscar: <input class="form-control" id="filter" name="filter" v-model="filter"/></label>
                    <buton style="margin-left:5px;" class="btn btn-primary" @click="buscarPorFiltro()"><b-icon-search></b-icon-search></buton>
                </div>
            </div>
        </div>
    <div class="container mt-5">
        <div class="row">
            <div class="container">
   
                <b-card v-for="(vacant, index) in vacant" style="width: 18rem;" :key="index" header-bg-variant="success"  border-variant="success" header=" " header-border-variant="success" header-text-variant="success">
                    <div style="height: 80%; display:block;">
                        <h4><b-icon-building></b-icon-building> {{vacant.title}}</h4>
                        <p><b>|</b> {{vacant.description}}</p>
                        <p><b>| Modalidad:</b> {{vacant.modality}}</p>
                        <p><b>| Tipo:</b> {{vacant.type}}</p>
                        <p><b>| Expira:</b> {{vacant.validityPeriod}}</p>
                        <p><b>| Sueldo:</b> {{vacant.salary.minimum}} - {{vacant.salary.maximum}} ({{vacant.salary.periodicity}})</p>
                        <p><b>| Beneficios:</b></p>
                        <div style="overflow-y: auto; max-height: 30%;">
                            <ul v-for="(bene, index) in benefit" :key="index">
                                <li v-if="bene.vacant.idVacant == vacant.idVacant">
                                    {{bene.benefit}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_btn">
                        <div>
                        <!-- <button type="button" class="btn btn-warning"><b-icon-star-fill></b-icon-star-fill> Añadir a favoritos</button>-->
                        </div>
                        <br>
                        <div>
                            <a class="btn btn-info" :href="'/'+ vacant.idVacant">
                                <b-icon-person-plus-fill></b-icon-person-plus-fill> Postularme
                            </a>
                        </div>
                    </div>
                </b-card>

            </div>
            
        </div>
    </div>
</div>
</template>

<script>

var token_json = "";

if (localStorage.getItem("user") != null) {
  var token = localStorage.getItem("user"); //Variable que almacena el token
  token_json = JSON.parse(atob(token.split(".")[1]))["sub"]; //El token se convierte a JSON y obtenemos el 'sub' (username/email)
}

import ApplicantService from "../../service/ApplicantService";
import VacantService from "../../service/VacantService";

export default {
    name: "verVacantes",
    data() {
    return {
      vacant: [],
      benefit:[],
      estado: "",
      username: token_json,
      filter:""
    };
  },
  methods: {
    getVacantsByState() {
      ApplicantService.getVacantsByState(token_json)
        .then(response => {
            console.log(response.data)
            this.estado = response.data[0].state;
            this.vacant = response.data;
        })
        .catch((e) => {
          console.log("Error: " + e);
        });
    },
    getBenefitsByVacant() {
      ApplicantService.getBenefitsByVacant(token_json)
        .then(response => {
            console.log(response.data)
            this.benefit = response.data;
        })
        .catch((e) => {
          console.log("Error: " + e);
        });
    },
    buscarPorFiltro() {
        if(this.filter == '' || this.filter == ' ') {
            this.showErrorAlert("No se agregó ningún filtro de búsqueda.", "");
            return;
        } else {
            VacantService.getVacantsByFilter(token_json, this.filter)
            .then(response => {
                if(response.data.length == 0){
                    this.showErrorAlert("No se encontró ninguna coincidencia...", "");
                    return;
                } else {
                    console.log(response.data)
                    this.vacant = response.data;
                    this.getBenefitsByVacant(token_json);
                }
               
            })
            .catch((e) => {
            console.log("Error: " + e);
            });
        }
    },
    showErrorAlert(titulo, error){
        this.$swal({
            title: titulo,
            text: error,
            icon: 'error',
            showConfirmButton:false,
            timer: 3000
        });
    },
  },
  mounted() {
    this.getVacantsByState();
    this.getBenefitsByVacant();
  },
};
</script>

<style scoped>
    .footer_btn {
        text-align: center;
        overflow-y: auto;
    }

    .container {
        display: grid;
        grid-gap: 1rem;
    }

    @media screen and (max-width: 300px) {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media screen and (min-width: 300px) and (max-width: 576px) {
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 576px) and (max-width: 992px) {
        .container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 992px) {
        .container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
</style>
