<template>
    <div class="container mt-5">
        <div class="row">    
            <div>
                <div>
                    <div style="float: left;"><h2><span>Lista de contactos</span></h2></div>
                </div> 
                <div class="container">
                   
                    <div v-for="(contact, index) in contacto" :key="index" >
                        <b-card style="width: 18rem;" border-variant="primary" header=" " header-bg-variant="primary" header-text-variant="white">
                            <b-card-text style="height:15%">
                                <label><b-icon-people-fill></b-icon-people-fill><b> {{contact.name}} {{contact.firstLastName}} {{contact.secondLastName}}</b></label>
                                <br>
                                <label><b-icon-at></b-icon-at> {{contact.username}}</label>
                                <br>
                                <label><b-icon-telephone-fill></b-icon-telephone-fill> {{contact.phoneNumber}}</label>
                                <br>
                                <div style="float: left;">
                                    <button class="btn btn-success" @click="agregarContacto(contact.id)">
                                         <img src="../../assets/img/add.png" /> Agregar
                                    </button>
                                </div>
                            </b-card-text>
                        </b-card>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>

var token_json = "";

if (localStorage.getItem("user") != null) {
  var token = localStorage.getItem("user"); //Variable que almacena el token
  token_json = JSON.parse(atob(token.split(".")[1]))["sub"]; //El token se convierte a JSON y obtenemos el 'sub' (username/email)
}

import ApplicantService from "../../service/ApplicantService";
import PersonaService from '../../service/PersonaService';

export default {
  name: "listaContactos",
  data() {
    return {
      contacto: [],
      username: token_json,
      contact:{
        person_Friend:"",
        person_Main:"",
      }
    };
  },
  methods: {
    getUserInfo(){
        //user el token_json para la consulta
        PersonaService.getByUsername(token_json).then((response) =>{
            this.contact.person_Main = response.data;
        }).catch(e =>{ //Cuando hay un error, se toma cómo sino hubiera token.
            this.setNavNoToken();
            console.info("No has iniciado sesión " + e);
        })
    },
    getAllContacts() {
      ApplicantService.getAllContacts()
        .then((response) => {
            this.contacto = response.data;
        })
        .catch((e) => {
          console.log("Error: " + e);
        });
    },
    agregarContacto(id){
        PersonaService.getById(id).then((response) => {
            this.contact.person_Friend = response.data;
            ApplicantService.addContact(this.contact)
            .then((response) => {
                console.log(response);
                this.$swal({
                    title: "Nuevo contacto agregado",
                    text: "Se agrego un nuevo contacto",
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 5000
                })
                .then(() => {
                    this.$router.push("/contactos");
                })
            })
            .catch((e) => {
                console.log("Error: " + e);
            });

        }).catch((e) => {
            console.log("Error: " + e);
        });
    }
  },
  mounted() {
    this.getUserInfo();
    this.getAllContacts();
  }
};

</script>

<style scoped>

    .container {
        display: grid;
        grid-gap: 1rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    @media screen and (max-width: 300px) {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media screen and (min-width: 300px) and (max-width: 576px) {
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 576px) and (max-width: 992px) {
        .container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 992px) {
        .container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
</style>