<template>
  <div id="app">
    <div>
    <nav class="navbar navbar-expand navbar-light" style="background-color: #FFD6D6; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
      <div class="navbar-nav mr-auto">
        <li class="container-fluid new-item lista mt-2">
          <router-link to="/" class="new-link" style="color: #ffffff">
            <img src="./assets/img/logoSIRETA.png" class="img" style="background-color: #fff" />
          </router-link>
          <ul id="login" hidden>
            <router-link to="/login" class="new-link" style="color: #F28D35">Login</router-link>
          </ul>
          <ul id="registro" hidden>
            <div class="dropdown" style="width:100px;">
              <router-link to="" class="new-link" style="color: #F28D35">Registrarse</router-link>
              <div class="dropdown-content">
                <router-link to="/registro/reclutador" class="new-link" style="color: #F28D35">Reclutador</router-link>
                <router-link to="/registro/aplicante" class="new-link" style="color: #F28D35">Aplicante</router-link>
              </div>
            </div>
          </ul>
          <ul id="perfil" hidden>
            <router-link to="/user/perfil" class="new-link" style="color: #F28D35">Perfil</router-link>
          </ul>
          <ul id="misVacantes" hidden>
            <router-link to="/vacante/vacantes" class="new-link" style="color: #F28D35">Mis vacantes</router-link>
          </ul>
          <ul id="postulaciones" hidden>
            <router-link to="/verPostulantes" class="new-link" style="color: #F28D35">Postulaciones</router-link>
          </ul>
          <ul id="contactos" hidden>
            <router-link to="/contactos" class="new-link" style="color: #F28D35">Contactos</router-link>
          </ul>
          <ul id="favoritos" hidden>
            <router-link to="/favoritos" class="new-link" style="color: #F28D35">Favoritos</router-link>
          </ul>
          <ul id="curriculum" hidden>
            <router-link to="/curriculum" class="new-link" style="color: #F28D35">Curriculum</router-link>
          </ul>
          <ul id="verVacantes" hidden>
            <router-link to="/vacante/verVacantes" class="new-link" style="color: #F28D35">Vacantes</router-link>
          </ul>
          <ul id="notificaciones" @click="viewNotification()" hidden style="right:0; position: absolute; margin-right: 160px;">
            <span class="red">2</span>
            <router-link to="" class="new-link" style="color: #F28D35">Notificaciones</router-link>
          </ul>
          <ul id="cerrarSesion" class="viewHand" hidden style="right:0; position: absolute; margin-right: 15px;">
            <a @click="salir()" style="color: #F28D35">Cerrar Sesión</a>
          </ul>
        </li>
      </div>
    </nav>
    <div class="container-fluid">
      <!-- Mostrar los componentes -->
      <router-view />
      <div class="footer" style="height:200px"></div>
    </div>
    <div class="container2" style="position:absolute; top: 60px;right: 40px;" v-if="viewNotifications == 1">
      <div class="card">
        <div class="box p-2" style="display:block !important;">
        
          <div class="row">
            <div class="container d-flex justify-content-center">
              <div class="card mt-1 p-3" style="height: 85%;">
                <div class="media">
                    <img src="./assets/img/logoSIRETA.png" class="img rounded mr-3">
                    <div class="media-body" style="font-size:8pt">
                      <strong>Luis Eduardo </strong> ha compartido la vacante de <strong> Desarrollador de Aplicaciones moviles </strong>
                      <br><small class="text">Agosto 20,2022</small>
                    </div>
                </div>
              </div>
            </div>            
          </div>

          <div class="row">
            <div class="container d-flex justify-content-center">
              <div class="card mt-1 p-3" style="height: 85%;">
                <div class="media">
                    <img src="./assets/img/logoSIRETA.png" class="img rounded mr-3">
                    <div class="media-body" style="font-size:8pt">
                      <strong>Luis Eduardo </strong> ha compartido la vacante de <strong> Desarrollador de Aplicaciones moviles </strong>
                      <br><small class="text">Agosto 20,2022</small>
                    </div>
                </div>
              </div>
            </div>            
          </div>

          
        </div>
      </div>
    </div>
  </div>
    
  </div>
</template>

<script>

var token_json = "";

if (localStorage.getItem('user') != null){
  var token = localStorage.getItem('user'); //Variable que almacena el token
  token_json = JSON.parse(atob(token.split('.')[1]))["sub"]; //El token se convierte a JSON y obtenemos el 'sub' (username/email)
}

import UsuarioService from './service/UsuarioService';

export default {
  name: "App",
  data(){
        return{
            username:token_json,
            viewNotifications:0,
            notification:{
              id_notification:"",
              date:"",
              isOpen:"",
              message:"",
              title:"",
              personReceiver:"",
              personSender:""
            }
        }
    },methods:{
      viewNotification(){
        this.viewNotifications = this.viewNotifications == 1? 0: 1;
      },
      validateToken(){
        if(this.username == ""){
          this.setNavNoToken();
        }else{
          this.getRoleByUsername();
        }
      },
      salir(){
        localStorage.removeItem('user');
        this.username = ""
        this.validateToken();
      },
      setNavNoToken(){ //Navegación cuando no existe el token
        document.getElementById('login').hidden = false;
        document.getElementById('registro').hidden = false;
        //Agregar la vista principal.
        document.getElementById('notificaciones').hidden = true;
        document.getElementById('cerrarSesion').hidden = true;
        document.getElementById('favoritos').hidden = true;
        document.getElementById('contactos').hidden = true;
        document.getElementById('perfil').hidden = true;
        document.getElementById('misVacantes').hidden = true;
        document.getElementById('postulaciones').hidden = true;
        this.$router.push("/login");
      },
      getRoleByUsername(){
        UsuarioService.getRole(this.username)
        .then((response) =>{
          if(response.data){ //Navegación cuando el rol existe -> Después validar por el tipo de Rol
            if(response.data == "applicant"){
              //agregar las postulaciones hechas por el aplicante
              document.getElementById('postulaciones').hidden = true;
              document.getElementById('favoritos').hidden = false;
              document.getElementById('contactos').hidden = false;
              document.getElementById('misVacantes').hidden = true;
              document.getElementById('curriculum').hidden = false;
              document.getElementById('verVacantes').hidden = false;
            }else if(response.data == "recruiter"){
              document.getElementById('curriculum').hidden = true;
              document.getElementById('postulaciones').hidden = false;
              document.getElementById('favoritos').hidden = true;
              document.getElementById('contactos').hidden = true;
              document.getElementById('misVacantes').hidden = false;
              document.getElementById('verVacantes').hidden = true;
            }
            document.getElementById('perfil').hidden = false;
            document.getElementById('login').hidden = true;
            document.getElementById('registro').hidden = true;
            document.getElementById('notificaciones').hidden = false;
            document.getElementById('cerrarSesion').hidden = false;
          }else{
            this.setNavNoToken();
          }
        })
        .catch(() =>{ 
          this.setNavNoToken();
        })
      }
    },
    mounted(){
      this.validateToken();
    }
};
</script> 

<style scoped>
.viewHand{
  cursor: pointer;
}
.img {
  height: 50px;
  width: auto;
  border-radius:5%;
}
li,ul {
  font: bold;
  font-size: 18px;
  margin-right: 0.5px;
}
.newlink {
  margin: 5px;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background-color: #FFD6D6;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 10px 0;
}
.container2 .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 5px;
  transition: 0.5s;
}
.container2 .card:nth-child(1) .box .content a {
  background: #2196f3;
}
.container2 .card .box {
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background: #FFD6D6; /* Cambiar el color */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
.container2 .card .box .content {
  padding: 8px;
  text-align: center;
}
.container2 .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

span.red {
  background: red;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
  
  margin-left: 75%;
  position: absolute;
  margin-top: -8%;
}


</style>

