<template>
    <div>
        <div class="container mt-5">
            <!-- El titulo cambiará dependiendo del Usuario a registrar -->
            <h2><span>Datos del Aplicante</span></h2>
            <hr />
            <div class="row">
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Nombre" v-model="applicant.persons.name">
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="firstLastName">Primer apellido</label>
                    <input type="text" class="form-control" id="firstLastName" placeholder="Primer apellido" v-model="applicant.persons.firstLastName">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="secondLastName">Segundo apellido</label>
                    <input type="text" class="form-control" id="secondLastName" placeholder="Segundo apellido" v-model="applicant.persons.secondLastName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="birthdate">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="birthdate" name="trip-start" min="1998-01-01" max="2003-12-31" v-model="applicant.persons.birthDate">
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="username">Correo Electrónico</label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" id="username" placeholder="email" v-model="applicant.persons.username">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="phoneNumber">Teléfono</label>
                    <input type="number" class="form-control" id="phoneNumber" placeholder="Teléfono" v-model="applicant.persons.phoneNumber">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span> <label for="state">Ubicación</label>
                    <select type="text" class="form-control" id="state" placeholder="Ubicación" v-model="applicant.state">
                        <option value="no" selected>Seleccione un Estado...</option>
                        <option value="Aguascalientes">Aguascalientes</option>
                        <option value="Baja California">Baja California</option>
                        <option value="Baja California Sur">Baja California Sur</option>
                        <option value="Campeche">Campeche</option>
                        <option value="Chiapas">Chiapas</option>
                        <option value="Chihuahua">Chihuahua</option>
                        <option value="CDMX">Ciudad de México</option>
                        <option value="Coahuila">Coahuila</option>
                        <option value="Colima">Colima</option>
                        <option value="Durango">Durango</option>
                        <option value="Estado de México">Estado de México</option>
                        <option value="Guanajuato">Guanajuato</option>
                        <option value="Guerrero">Guerrero</option>
                        <option value="Hidalgo">Hidalgo</option>
                        <option value="Jalisco">Jalisco</option>
                        <option value="Michoacán">Michoacán</option>
                        <option value="Morelos">Morelos</option>
                        <option value="Nayarit">Nayarit</option>
                        <option value="Nuevo León">Nuevo León</option>
                        <option value="Oaxaca">Oaxaca</option>
                        <option value="Puebla">Puebla</option>
                        <option value="Querétaro">Querétaro</option>
                        <option value="Quintana Roo">Quintana Roo</option>
                        <option value="San Luis Potosí">San Luis Potosí</option>
                        <option value="Sinaloa">Sinaloa</option>
                        <option value="Sonora">Sonora</option>
                        <option value="Tabasco">Tabasco</option>
                        <option value="Tamaulipas">Tamaulipas</option>
                        <option value="Tlaxcala">Tlaxcala</option>
                        <option value="Veracruz">Veracruz</option>
                        <option value="Yucatán">Yucatán</option>
                        <option value="Zacatecas">Zacatecas</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="password" class="col-form">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Contraseña"  v-model="applicant.persons.password">
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">*  </span><label for="confirmPassword" class="col-form"> Confirmar contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Contraseña"  v-model="repassword">
                </div>
            </div>
            <div style="float: right;">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-sireta btn-lg btn-block" @click="saveApplicant()">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" style="height:200px"></div>
    </div>
</template>

<script>

import ApplicantService from '../../service/ApplicantService';
import PersonaService from '../../service/PersonaService';

export default {
    name: "aplicante",
    data(){
        return{
            applicant:{
                state:"no",
                persons:{
                    name:"",
                    firstLastName:"",
                    secondLastName: "",
                    username:"",
                    birthDate:"",
                    phoneNumber:"",
                    enabled: 1,
                    password:"",
                    rol:{
                        id_rol: 2,
                        nombre: "applicant"
                    }
                }
            },
            repassword:""
        }
    }, methods:{
        saveApplicant(){
            //Validar campos obligatorios
            if(this.applicant.state == "no" || this.applicant.state == ""){ //Valida la Ubicación
                this.showErrorAlert("Campo faltante","La ubicación es obligatoria");
                return;
            }
            if((this.repassword != this.applicant.persons.password) && this.repassword.length > 0){ //Valida que las contraseñas sean iguales
                this.showErrorAlert("Error en la contraseña","Las Contraseñas no coinciden");
                return;
            }
            //Registrando Persona
            PersonaService.create(this.applicant.persons)
            .then((response) => {
                const mensaje = response.data.message;
                if(mensaje != "Ok!"){
                    if(mensaje.includes("persons.phone_number_UNIQUE")){ //Válida que el número de teléfono sea único
                        this.showErrorAlert("Error en el formulario","El Número de Teléfono ya está registrado");
                    }
                    if(mensaje.includes("persons.username_UNIQUE")){ //Válida que el username sea único
                        this.showErrorAlert("Error en el formulario","El Correo electrónico ya está registrado");
                    }
                    if(mensaje == "error"){
                        var _html = "<ul>"
                        var errores = response.data.data.split("--");
                        for(var i = 0; i != (errores.length - 1); i++){
                            _html += "<li>" + errores[i] + "</li>";
                        }
                        _html += "</ul>";
                        this.$swal({
                            title:"Favor de corregir:",
                            icon: "error",
                            showCancelButton: false,
                            confirmButtonText: "Aceptar",
                            html:_html,
                            timer:10000
                        })
                    }
                    return;
                }
                this.applicant.persons = response.data.data; //Asignamos la Persona registrada
                ApplicantService.create(this.applicant) //Creamos el Aplicante
                .then(() => {
                    //Mensaje de éxito
                    this.$swal({
                        title: "Registro éxitoso",
                        text: "Ya puedes ingresar al sistema",
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 5000
                    })
                    .then(() => {
                        this.$router.push("/login");
                    })
                })
                .catch(() => { //Hubo un error al intentar registrar el Aplicante
                    this.showErrorAlert("Error de registro","No se pudo realizar el registro");
                    //Añadir método para eliminar persona por medio de su ID -> Configurar SecurityConfiguration
                })
            });
        },
        showErrorAlert(titulo, error){
            this.$swal({
                title: titulo,
                text: error,
                icon: 'error',
                showConfirmButton:false,
                timer: 3000
            });
        }
    }
}

</script>

<style scoped>
  .required{
    color: red;
    font-size: 18;
    font-weight: bold;
  }
  .btn-sireta{
    background-color: #F28D35;
    border: #F28D35;
    color: white;

  }
  .btn-sireta:hover{
    background-color: #F24405;
    color: white;
  }
  .btn-sireta:focus{
    background-color: #F24405;
    color: white;
  }
</style>