<template>
    <div>
        <div class="container mt-5">
            <h2><span>Datos del Reclutador</span></h2>
            <hr />
            <div class="row">
                <div class="col-md-4 mb-3">
                    <span class="required">* </span><label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Nombre"
                        v-model="reclutador.person.name">
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">* </span><label for="firstLastName">Primer apellido</label>
                    <input type="text" class="form-control" id="firstLastName" placeholder="Primer apellido"
                        v-model="reclutador.person.firstLastName">
                </div>

                <div class="col-md-4 mb-3">
                    <label for="secondLastName">Segundo apellido</label>
                    <input type="text" class="form-control" id="secondLastName" placeholder="Segundo apellido"
                        v-model="reclutador.person.secondLastName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <span class="required">* </span><label for="birthdate">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="birthdate" name="trip-start" min="1998-01-01"
                        max="2003-12-31" v-model="reclutador.person.birthDate">
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">* </span><label for="username">Correo Electrónico</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" id="username" placeholder="email"
                            v-model="reclutador.person.username">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">* </span><label for="phoneNumber">Teléfono</label>
                    <input type="number" class="form-control" id="phoneNumber" placeholder="Teléfono"
                        v-model="reclutador.person.phoneNumber">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <span class="required">* </span><label for="job">Puesto</label>
                    <input type="text" class="form-control" id="job" placeholder="Puesto" v-model="reclutador.job">
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">* </span><label for="password" class="col-form">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Contraseña"
                        v-model="reclutador.person.password">
                </div>
                <div class="col-md-4 mb-3">
                    <span class="required">* </span><label for="confirmPassword" class="col-form"> Confirmar
                        contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Contraseña"
                        v-model="repassword">
                </div>
            </div>
            <div class="mt-4">
                <h2>Datos de la Empresa</h2>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <span class="required">* </span><label for="nameCompany">Nombre</label>
                            <input type="text" class="form-control" id="nameCompany" placeholder="Nombre"
                                v-model="reclutador.company.name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <span class="required">* </span><label for="stateCompany">Ubicación</label>
                            <select type="text" class="form-control" id="stateCompany" placeholder="Ubicación"
                                v-model="reclutador.company.state">
                                <option value="no">Seleccione un Estado...</option>
                                <option value="Aguascalientes">Aguascalientes</option>
                                <option value="Baja California">Baja California</option>
                                <option value="Baja California Sur">Baja California Sur</option>
                                <option value="Campeche">Campeche</option>
                                <option value="Chiapas">Chiapas</option>
                                <option value="Chihuahua">Chihuahua</option>
                                <option value="CDMX">Ciudad de México</option>
                                <option value="Coahuila">Coahuila</option>
                                <option value="Colima">Colima</option>
                                <option value="Durango">Durango</option>
                                <option value="Estado de México">Estado de México</option>
                                <option value="Guanajuato">Guanajuato</option>
                                <option value="Guerrero">Guerrero</option>
                                <option value="Hidalgo">Hidalgo</option>
                                <option value="Jalisco">Jalisco</option>
                                <option value="Michoacán">Michoacán</option>
                                <option value="Morelos">Morelos</option>
                                <option value="Nayarit">Nayarit</option>
                                <option value="Nuevo León">Nuevo León</option>
                                <option value="Oaxaca">Oaxaca</option>
                                <option value="Puebla">Puebla</option>
                                <option value="Querétaro">Querétaro</option>
                                <option value="Quintana Roo">Quintana Roo</option>
                                <option value="San Luis Potosí">San Luis Potosí</option>
                                <option value="Sinaloa">Sinaloa</option>
                                <option value="Sonora">Sonora</option>
                                <option value="Tabasco">Tabasco</option>
                                <option value="Tamaulipas">Tamaulipas</option>
                                <option value="Tlaxcala">Tlaxcala</option>
                                <option value="Veracruz">Veracruz</option>
                                <option value="Yucatán">Yucatán</option>
                                <option value="Zacatecas">Zacatecas</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-12">
                            <div class="form-group">
                                <label>Logo</label>
                                <div class="custom-file">
                                    <input type="file" accept="image/*" class="custom-file-input form-control" id="logo"
                                        lang="es" @change="addImage($event)">
                                    <label class="custom-file-label" for="logo" enctype="multipart/form-data"
                                        id="image-name">Seleccionar Imagen</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 mb-8 text-center">
                            <img id="viewImagen" src="#" style="max-width: 100%; max-height: 160px;" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: right;" class="mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-sireta btn-lg btn-block" @click="validitingData()">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" style="height:200px"></div>
    </div>
</template>

<script>

import CompaniaService from '../../service/CompaniaService';
import PersonaService from '../../service/PersonaService';
import ReclutadorService from '../../service/ReclutadorService';

export default {
    name: "reclutador",
    data(){
        return{
            reclutador:{
                job:"",
                person:{
                    name:"",
                    firstLastName:"",
                    secondLastName: "",
                    username:"",
                    birthDate:"",
                    phoneNumber:"",
                    password:"",
                    enabled: 1,
                    rol:{
                        id_rol: 1,
                        nombre: "recruiter"
                    }
                },
                company:{
                    name:"",
                    state:"no",
                    logo:""
                }
            },
            logo:"",
            repassword:""
        }
    },methods:{
        validitingData(){
            var bandera = false;
            //Validando contraseña
            if((this.repassword != this.reclutador.person.password) && this.repassword.length > 0){ //Valida que las contraseñas sean iguales
                this.showErrorAlert("Error en la contraseña","Las Contraseñas no coinciden");
                bandera = true;
            }
            //Validando el puesto
            if(this.reclutador.job == ""){ //Valida que las contraseñas sean iguales
                this.showErrorAlert("Campo faltante","El puesto es obligatorio");
                bandera = true;
            }
            //Validando el nombre de la compañia
            if(this.reclutador.company.name == ""){
                this.showErrorAlert("Campo faltante","El nombre de la empresa es obligatorio");
                bandera = true;
            }
            //Validando la ubicación de la compañia
            if(this.reclutador.company.state == ""){
                this.showErrorAlert("Campo faltante","La ubicación de la empresa es obligatoria");
                bandera = true;
            }
            if(!bandera){
                //Validando que la compañia sea única
                CompaniaService.findByName(this.reclutador.company.name)
                .then(response =>{
                    if(!response.data){ //La compañia es única
                        this.saveCompany();
                    }else{
                        this.showErrorAlert("Registro duplicado","La compañia " + this.reclutador.company.name + " ya está registrada");
                    }
                })
                .catch(() => {
                    this.showErrorAlert("Error de registro","No se pudo registrar la compañia");
                });
            }
        },
        saveCompany(){
            //Almacenando compañia
            let formData = new FormData();
            formData.append("name", this.reclutador.company.name);
            formData.append("state", this.reclutador.company.state);
            if(this.logo == ""){ // No vamos a almacenar el Logo
                CompaniaService.create2(formData, {headers:{'Content-Type':'multipart/form-data'}})
                .then(response =>{
                    this.reclutador.company = response.data;
                    this.saveRecruiter();
                })
            }else{
                formData.append("logo", this.logo); //Almacenamos el Logo
                CompaniaService.create(formData, {headers:{'Content-Type':'multipart/form-data'}})
                .then(response =>{
                    this.reclutador.company = response.data;
                    this.saveRecruiter();
                })
            }
        },
        saveRecruiter(){
            //Almacenamos la persona
            PersonaService.create(this.reclutador.person)
            .then((response) => {
                const mensaje = response.data.message;
                if(mensaje != "Ok!"){
                    //Eliminamos la compañia
                    CompaniaService.deleteByname(this.reclutador.company.name);
                    if(mensaje.includes("persons.phone_number_UNIQUE")){ //Válida que el número de teléfono sea único
                        this.showErrorAlert("Error en el formulario","El Número de Teléfono ya está registrado");
                    }
                    if(mensaje.includes("persons.username_UNIQUE")){ //Válida que el username sea único
                        this.showErrorAlert("Error en el formulario","El Correo electrónico ya está registrado");
                    }
                    if(mensaje == "error"){
                        var _html = "<ul>"
                        var errores = response.data.data.split("--");
                        for(var i = 0; i != (errores.length - 1); i++){
                            _html += "<li>" + errores[i] + "</li>";
                        }
                        _html += "</ul>";
                        this.$swal({
                            title:"Favor de corregir:",
                            icon: "error",
                            showCancelButton: false,
                            confirmButtonText: "Aceptar",
                            html:_html,
                            timer:10000
                        });
                    }
                    return;
                }
                this.reclutador.person = response.data.data; //Asignamos la Persona registrada
                ReclutadorService.create(this.reclutador) //Creamos el Reclutador
                .then(() => {
                    //Mensaje de éxito
                    this.$swal({
                        title: "Registro éxitoso",
                        text: "Ya puedes ingresar al sistema",
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 5000
                    })
                    .then(() => {
                        this.$router.push("/login");
                    })
                })
                .catch(() => { //Hubo un error al intentar registrar el Reclutador
                    this.showErrorAlert("Error de registro","No se pudo realizar el registro");
                    //Añadir método para eliminar persona por medio de su ID -> Configurar SecurityConfiguration
                })
            });
        },
        showErrorAlert(titulo, error){
            this.$swal({
                title: titulo,
                text: error,
                icon: 'error',
                showConfirmButton:false,
                timer: 3000
            });
        },
        addImage(e){
            this.logo = e.target.files[0];
            let reader = new FileReader();
            var file = this.logo;
            reader.onload = (e) =>{
                document.getElementById('viewImagen').src = e.target.result; //Recuperar imagen proporcionada
                document.getElementById('viewImagen').hidden = false; //Ver imagen
            };
            reader.readAsDataURL(file);
        }
    }
}
</script>

<style scoped>
  .required{
    color: red;
    font-size: 18;
    font-weight: bold;
  }
  .btn-sireta{
    background-color: #F28D35;
    border: #F28D35;
    color: white;

  }
  .btn-sireta:hover{
    background-color: #F24405;
    color: white;
  }
  .btn-sireta:focus{
    background-color: #F24405;
    color: white;
  }
</style>