<template>
    
    <div class="container mt-5">
        <div class="row">    
            <div >
                <div>
                    <div style="float: left;"><h2><span>Postulaciones</span></h2></div>
                </div> 
                <div class="container">
                    
                        <div class="card" v-for="(applicant, index) in applicant" style="width: 18rem;" :key="index" header-bg-variant="success">
                            <div class="card-body">
                                <h5 style="font-size:large"><b-icon-person-fill></b-icon-person-fill> {{applicant.applicants.persons.name}} {{applicant.applicants.persons.firstLastName}} {{applicant.applicants.persons.secondLastName}}</h5>
                                <br>
                                <b-icon-building></b-icon-building> <b>Vacante:</b>
                                <p class="text-center">{{applicant.vacant.title}}</p>
                                <p><b-icon-telephone-fill></b-icon-telephone-fill> {{applicant.applicants.persons.phoneNumber}}</p>
                                <p><b-icon-bar-chart-line-fill></b-icon-bar-chart-line-fill> <b>Estatus:</b>  {{applicant.status}} </p>
                                <div class="footer_btn">
                                    <div v-if="applicant.curriculumPDF" class="text-center" style="margin-bottom:5px">
                                        <button type="button" class="btn btn-success" @click="downloadCurriculum(applicant.applicants.persons.id,applicant.applicants.persons.name,applicant.applicants.persons.firstLastName)"><b-icon-download></b-icon-download> Descargar curriculum</button>
                                    </div>
                                    <div style="float: left;">
                                        <button type="button" class="btn btn-warning" @click="changeEstatus(applicant)"><b-icon-arrow-repeat></b-icon-arrow-repeat> Actualizar</button>
                                    </div>
                                    <div style="float: right;">
                                        <a class="btn btn-primary" :href="'/'+ applicant.applicants.persons.id">
                                            <b-icon-person-circle></b-icon-person-circle> Ver perfil
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div>
                                <input type="hidden" id="id_vacant" value="{{applicant.idVacantByApplicant}}" v-model="vacante.id" />
                            </div> -->
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

</template>

<script>
var token_json = "";

if (localStorage.getItem("user") != null) {
  var token = localStorage.getItem("user"); //Variable que almacena el token
  token_json = JSON.parse(atob(token.split(".")[1]))["sub"]; //El token se convierte a JSON y obtenemos el 'sub' (username/email)
}

import ReclutadorService from "../../service/ReclutadorService";
import CurriculumService from "../../service/CurriculumService";
import VacantService from "../../service/VacantService";

export default {
  name: "verPostulantes",
  data() {
    return {
      applicant: [],
      username: token_json,
      status:"",
      vacante: {
        id: 0,
        status : ""
      }
    };
  },
  methods: {
    changeEstatus(vacante){
        console.log("Vacante:" + vacante.idVacantByApplicant);
        this.$swal({
            confirmButtonText: "Actualizar",
            cancelButtonText:"Cancelar",
            width:"450px",
            html:'<h2>Actualización de Postulantes</h2><hr />'+
            '<div class="mb-12">'+
                '<span style = "color: red; font-size: 18; font-weight: bold;">* </span> <label for="statusLevel">Estatus</label>'+
                '<select type="text" class="form-control" id="statusLevel" placeholder="Seleccione...">'+
                    '<option value="Postulado">Postulado</option>'+
                    '<option value="CV Visto">CV Visto</option>'+
                    '<option value="Entrevista">Entrevista</option>'+
                    '<option value="Idoneo">Idóneo</option>'+
                    '<option value="Contratado">Contratado</option>'+
                '</select>'+
            '</div>',
            showCloseButton: true
        })
        .then((result) => {
            if(result.value) {
                this.status = document.getElementById('statusLevel').value;
                this.vacante.status = this.status;
                //console.log('datos: ' + this.vacante.status)
                VacantService.updateStatus(this.status, vacante.idVacantByApplicant)
                /*.then(response => {
                    console.log(response)
                    this.mounted()
                })
                .catch((e) => {
                    console.log("Error: " + e);
                });*/
                this.showSuccessAlert("Actualización éxitosa", "Tus candidatos han sido actualizados!");
                
            }
        })
    },
    getApplicantsByRecruiter() {
      ReclutadorService.getApplicantsByRecruiter(token_json)
        .then(response => {
            console.log(response.data)
            this.applicant = response.data;
        })
        .catch((e) => {
          console.log("Error: " + e);
        });

      console.info("username: " + token_json);
    },
    downloadCurriculum(id,name,lastName){
     
        CurriculumService.downloadPDF(id).then((response) => {
                
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download',name+lastName+'-CV.pdf');
        document.body.appendChild(link);
        link.click();

        })
    },
    showSuccessAlert(titulo, error){
            this.$swal({
                title: titulo,
                text: error,
                icon: 'success',
                showConfirmButton:false,
                timer: 3000
            });
        }
  },
  mounted() {
    this.getApplicantsByRecruiter();
  },
};
</script>

<style scoped>
    .footer_btn {
        text-align: center;
    }

    .container {
        color: black;
        display: grid;
        grid-gap: 1rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    @media screen and (max-width: 300px) {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media screen and (min-width: 300px) and (max-width: 576px) {
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 576px) and (max-width: 992px) {
        .container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 992px) {
        .container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
</style>
